mixin apply-form
  section.m-apply(style="background-image: url(assets/images/bg_2.jpg)")
    .l-wrap
      .m-apply__head
        h2.m-part__title--fitted.t-head--c Připraven stát se talentem designu?
        strong.m-part__subtitle: +dummy(10)

      .m-apply__content
        a.m-apply__button(href="submit-project.html")
          | Přihlásit práci 
          span.m-apply__arrow &rarr;
