mixin crossroad
  section.m-xroad(style="background-image: url(assets/images/bg_3.jpg)")
    a.m-xroad__link(href="javascript:")
      span.m-xroad__arrow--left &larr; 
      | Zlín Design Week
    a.m-xroad__link(href="javascript:")
      | Design konference
      span.m-xroad__arrow--right  &rarr;
