mixin crossroad
  section.m-xroad(style="background-image: url(assets/images/bg_3.jpg)")
    a.m-xroad__link(href="temporary-zdw.html")
      span.m-xroad__arrow--left &larr; 
      | Zlín Design Week
    a.m-xroad__link(href="temporary-conf.html")
      | Konference D&nbsp;&amp;&nbsp;M
      span.m-xroad__arrow--right  &rarr;
