mixin hud
  header.o-hud#js-headroom
    .o-hud__head
      .o-hud__cell
        a.o-logo--bid(href="index.html"): include ../../svg/logo_bid.svg

      .o-hud__cell
        button.o-nav__toggle--open(data-nav-toggle)
          span.o-nav__trigram
          | Menu

        button.o-nav__toggle--close(data-nav-toggle)
          span.o-nav__cross
          | Close

    nav.o-nav
      ul.o-nav__list
        each page in pages
          li.o-nav__item: a.o-nav__link(href=page.link)= page.title

    .o-switcher
      button.o-switcher__toggle(data-switcher)
        | Všechny projekty
        svg.o-switcher__icon(viewBox="0 0 16 10", xmlns="http://www.w3.org/2000/svg")
          path(d="M2,2 L8,8 L14,2")
      strong.o-switcher__title Další projekty
      .o-switcher__content
        a.o-switcher__link(href="temporary-zdw.html") Zlin Design Week
        mark.o-switcher__link--active Best in Design
        a.o-switcher__link(href="temporary-conf.html") Konference Design &amp; Marketing

  span.o-switcher-close(data-switcher)
