mixin hud
  header.o-hud#js-headroom
    .o-hud__head
      .o-hud__cell
        a.o-logo(href="index.html"): include ../../svg/logo_bid.svg

      .o-hud__cell
        button.o-nav__toggle--open(data-nav-toggle)
          span.o-nav__trigram
          | Menu

        button.o-nav__toggle--close(data-nav-toggle)
          span.o-nav__cross
          | Close

    nav.o-nav
      ul.o-nav__list
        each page in pages
          li.o-nav__item: a.o-nav__link(href=page.link)= page.title
