mixin intro(page)
  main.m-article.o-section--white
    .l-wrap
      .l-table
        .m-article__cell.l-table__cell
            h2.t-head--b Jsme tvůj odrazový můstek do světa designu
            if page == "homepage"
              a.m-article__link.t-ulink(href="about.html") Více o soutěži
        .l-table__cell
          if page == "homepage"
            ul.o-bullets
              li.o-bullets__item Víme, jak je těžké se v dnešní době prosadit.
              li.o-bullets__item Proto už 6. rokem dáváme šanci studentům designu ukázat svůj talent.
              li.o-bullets__item Přidej se k ostatním designérům a bojuj o obnos 4 000 €, ale především taky o velkou slávu a uznání na poli designu.
              li.o-bullets__item Soutěže se každoročně účastní studenti z univerzit po celém světě. Změř s nimi své síly a staň se talentem designu 2015!
          else
            p Podej si přihlášku do největší designérské soutěže ve střední Evropě a poměř síly s mezinárodní konkurencí. Můžeš získat stáž v prestižní designérské firmě a vyhrát 4 000 €. Staň se Talentem designu 2016 a otevři dveře spoustě možností.
