mixin prizes
  section.m-part.o-section--light
    .l-wrap
      h2.m-part__title.t-head--c Co je ve hře?
      .o-prizes
        .o-prizes__block
          .o-prizes__main
            span.o-prizes__fern--left: include ../../svg/shape_fern_left.svg
            h3.o-prizes__caps.t-caps Hlavní cena
            strong.o-prizes__note 4 000 € + stáž k tomu
            span.o-prizes__fern--right: include ../../svg/shape_fern_right.svg
        .o-prizes__block
          ol.o-prizes__list
            li.o-prizes__item 1000 €<br>+ stáž
            li.o-prizes__item 300 €
            li.o-prizes__item 200 €
      a.m-part__button.o-button--solid(href="javascript:") Všechny ceny
