mixin short-history
  section.o-brick
    .o-brick__frame
      .o-brick__stretch
        img.o-brick__image(src="assets/images/responsive/bg_history_640.jpg", srcset="assets/images/responsive/bg_history_1613.jpg 1613w, assets/images/responsive/bg_history_2283.jpg 2283w, assets/images/responsive/bg_history_2740.jpg 2740w, assets/images/responsive/bg_history_2880.jpg 2880w", sizes="50vw", alt="Best in Design 2014")
    .o-brick__content
      .o-brick__top
        h2.t-head--c Jak vypadal minulý ročník?
        .o-brick__text
          p V loňském ročníku jsme obdrželi 1&nbsp;320 soutěžních prací, což je o polovinu více než v&nbsp;roce 2014. Udělili jsme ceny s&nbsp;tituly Talent designu a&nbsp;rozdali přes 10&nbsp;000&nbsp;€. Absolutními vítězi za grafické zpracování projektu o&nbsp;fotbalové kultuře Jedenástky se stali Andrej Čanecký a&nbsp;Andrej Barčák.
      .o-brick__bottom
        a.o-button--outline(href="javascript:") Historie soutěže
