[class^="o-affiliate--"] {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
  @include margin(null -.75em);
  
  list-style-type: none;
}

.o-affiliate--main {
  justify-content: space-around;
  align-items: flex-start;
}

.o-affiliate--sub {
  justify-content: center;
  align-items: center;
}

[class^="o-affiliate__item--"] {
  padding: .75em;

  flex-basis: 9.5em;
}

.o-affiliate__item--small {
  flex-basis: 16.666%;
}

.o-affiliate__item--large {
  @include reset-children;

  @include media($dr__large) {
    flex-basis: 50%;
  }
}

.o-affiliate__link {
  display: block;

  text-align: center;

  filter: grayscale(100%);

  &:hover, &:active {
    filter: grayscale(0);
  }
}

.o-affiliate__image {
  @include margin(null auto);

  .o-affiliate__item--large & {
    max-width: 15em;
  }
}
