.o-brick {
  position: relative;

  background-color: white;

  @include clearfix;
}

.o-brick__image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 50%;

  background-color: $grey--900;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.o-brick__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  float: right;

  min-height: 75vmin;

  padding: 3em;
}

.o-brick__text {
  color: $grey--400;
}

.o-brick__top {
  @include reset-children;
}
