.o-brick {
  display: table;
  width: 100%;

  background-color: white;

  min-height: 50vmin;
}

.o-brick__image {
  display: table-cell;
  width: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.o-brick__content {
  display: table-cell;
  width: 50%;

  padding: 2em;

  @include reset-children;
}
