.o-brick {
  display: table;
  width: 100%;

  background-color: white;

  min-height: 75vmin;
}

.o-brick__image {
  display: table-cell;
  width: 50%;

  background-color: $grey--900;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.o-brick__content {
  position: relative;

  display: table-cell;
  width: 50%;

  padding: 3em;

  @include reset-children;
}

.o-brick__text {
  color: $grey--400;
}

.o-brick__button {
  position: absolute;
  bottom: 3em;
}
