// Abstractions
@mixin a-button() {
  display: inline-block;

  text-transform: uppercase;
  letter-spacing: em(1);

  font-size: em(14);
  font-weight: $font__sans--semibold;

  @include media($dr__large) {
    font-size: 1em;
    font-weight: $font__sans--medium;
  }
}

@mixin a-button--outline() {
  border: 2px solid;

  @include padding(.75em 1.75em);
}

// Classes
[class^="o-button--"],
[class*=" o-button--"] {
  @include a-button();
}

.o-button--outline {
  @include a-button--outline();

  .o-section--black & {
    @include link--white;
  }
}

.o-button--solid {
  @include padding(.875em 1.75em);

  &:link, &:visited {
    color: white;
    background-color: black;
  }
  &:hover, &:active {
    background-color: rgba(black, .75);
  }
}
