[class^="o-button--"],
[class*=" o-button--"] {
  display: inline-block;

  text-transform: uppercase;
  letter-spacing: em(2);

  font-weight: $font__sans--medium;
}

.o-button--outline {
  border: 2px solid;

  @include padding(.75em 1.75em);

  .o-section--black & {
    @include link--white;
  }
}

.o-button--solid {
  @include padding(.875em 1.75em);

  &:link, &:visited {
    color: white;
    background-color: black;
  }
  &:hover, &:active {
    background-color: rgba(black, .75);
  }
}
