.o-facts__wrap {
  max-width: 70em;
  
  @include wrap-padding(horizontal);
  @include margin(null auto);
  @include reset-children();
}

.o-facts__list {
  display: flex;

  list-style-type: none;
  padding-left: 0;

  margin-left: -.75em;
  margin-right: -.75em;
}


.o-facts__item {
  width: 25%;

  padding: .5em .75em;

  margin-left: .75em;
  margin-right: .75em;

  background-color: white;
}

.o-facts__title {
  display: block;

  font-family: $font__mono;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: em(1);
}
