.o-facts__wrap {
  max-width: 70em;
  
  @include wrap-padding(horizontal);
  @include margin(null auto);
  @include reset-children();
}

.o-facts__list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
  padding-left: 0;

  margin: -.25em -.375em;
}


.o-facts__item {
  flex-basis: 0;
  flex-grow: 1;

  min-width: 16.5em;
  padding: .5em .75em;
  margin: .25em .375em;

  background-color: white;
}

.o-facts__title {
  display: block;

  font-family: $font__mono;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: em(1);
}
