.o-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
  padding-left: 0;
  margin: 1.5em -.5em;

  @include media($dr__large) {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
}

.o-filter__item {
  text-align: center;

  margin: .5em .5em;

  @include media($bp__desktop) {
    flex-grow: 1;
  }
}

.o-filter__active {
  display: block;

  color: white;
  border: 1px solid black;
  background-color: black;

  padding: .5em 1em;
}

.o-filter__link {
  display: block;

  border: 1px solid;

  padding: .5em 1em;
}
