.o-flexlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;

  list-style-type: none;
  padding-left: 0;
  @include margin(-.75em null);

  text-align: center;
}

[class^="o-flexlist__item"],
[class*=" o-flexlist__item"] {
  @include padding(.75em 1em);

  @include reset-children;
}

.o-flexlist__item--tri {
  min-width: 16em;

  @include media($dr__large) {
    width: 33.333%;
  }
}

.o-flexlist__item--quad {
  min-width: 13.5em;

  @include media($dr__medium) {
    width: 50%;
  }
  @include media($bp__desktop) {
    width: 25%;
  }
}

.o-flexlist__emphasis {
  display: block;
  
  @include head--b;

  color: currentColor;
  background-color: transparent;
}

.o-flexlist__strong {
  font-weight: $font__sans--regular;
}
