.o-flexlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;

  list-style-type: none;
  padding-left: 0;
  @include margin(-.5em null);

  text-align: center;
}

[class^="o-flexlist__item"],
[class*=" o-flexlist__item"] {
  @include padding(.5em 1em);

  @include reset-children;
}

.o-flexlist__item--tri {
  width: 33.333%;
  min-width: 16em;
}

.o-flexlist__item--quad {
  width: 25%;
  min-width: 13em;
}

.o-flexlist__emphasis {
  display: block;
  
  @include head--b;

  color: currentColor;
  background-color: transparent;
}

.o-flexlist__strong {
  font-weight: $font__sans--regular;
}
