.o-foot {
  color: $grey--900;
  background-color: $grey--100;
}

.o-foot__logo {
  text-align: center;

  svg {
    width: em(108);
    fill: white;
  }

  @include media($dr__portable) {
    position: relative;
    top: .375em;

    float: left;
  }
}

.o-foot__table {
  display: flex;
  flex-wrap: wrap;

  @include margin(-.75em -1em);

  @include media($bp__phone) {
    margin-top: .75em;
  }
  @include media($bp__phablet) {
    margin-left: 8em;
  }
  @include media($dr__large) {
    margin-left: 11em;
  }

  @include media($bp__tablet) {
    justify-content: space-between;
  }

  @include media($bp__desktop) {
    justify-content: space-around;
  }
}

.o-foot__cell {
  @include padding(.75em 1em);

  max-width: em(300);

  @include reset-children;
}

.o-foot__head {
  margin-top: 0;

  color: white;
}

.o-foot__list {
  list-style-type: none;
  padding-left: 0;

  a {
    border-bottom: 1px solid;

    @include link--white;
  }

  @include media($dr__portable) {
    white-space: nowrap;

    wbr {
      display: none;
    }
  }
}
