.o-foot {
  color: $grey--900;
  background-color: $grey--100;

  margin-bottom: 50vmin;
}

.o-foot__logo {
  position: relative;
  top: .5em;

  float: left;

  fill: white;
}

.o-foot__table {
  display: flex;

  margin-left: 12em;
}

.o-foot__cell {
  @include padding(null 1em);
}

.o-foot__head {
  margin-top: 0;

  color: white;
}

[class^="o-foot__list"] {
  list-style-type: none;
  padding-left: 0;

  a {
    border-bottom: 1px solid;

    @include link--white;
  }
}

.o-foot__list--nobreak {
  white-space: nowrap;
}
