.o-hud {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;

  width: 100%;

  color: white;

  .nav--is-open & {
    background-color: black;
    transition-duration: 0s;

    height: 100%;

    overflow-y: scroll;

    flex-direction: column;
  }

  @include media($bp__desktop) {
    align-items: center;

    @include padding(1.5em null);
  }
}

.o-hud__head {
  line-height: 1;

  @include media($dr__mobile) {
    display: table;
    width: 100%;
  }
}

.o-hud__cell {
  @include media($dr__mobile) {
    display: table-cell;
    vertical-align: middle;

    &:last-child {
      text-align: right;
    }
  }
}
