[class^="o-input--"],
[class*=" o-input--"] {
  width: 100%;
  padding: 1em 1.5em;

  border-radius: 0;
  border: 2px solid;

  font-family: $font__sans;

  line-height: 1;

  color: currentColor;
  background-color: transparent;

  appearance: none;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: $grey--400;
  }
}

.o-input--white {
  &::placeholder {
    color: rgba(white, .5);
  }
}
