[class^="o-map--"],
[class*=" o-map--"] {
  position: relative;
  overflow: hidden;

  text-align: center;
}

.o-map--large {
  height: 10em;

  .map--is-active & {
    height: 30em;
  }
}

.o-map__viewport {
  position: relative;

  height: 15em;

  background-color: $grey--900;

  .o-map--large & {
    height: 30em;

    transform: translateY(-10em);
  }

  .map--is-active & {
    transform: translateY(0);
  }

  .o-map--large &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  .map--is-active &:after {
    content: none;
  }
}

.o-map__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;

  transform: translate(-50%, -50%);

  appearance: none;

  @include a-button();
  @include a-button--solid();

  font-family: $font__sans;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  .map--is-active & {
    display: none;
  }
}
