.o-media {
  padding-left: 1em;
  padding-right: 1em;

  margin-top: 2em;
}

.o-media__thumbnail {
  position: relative;

  color: white;
}

.o-media__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1em;

  background-color: rgba(black, .5);
}

.o-media__title {
  @include head--e;
}

.o-media__content {
  margin-top: 1em;
}
