[class^="o-nav__toggle"],
[class*=" o-nav__toggle"] {
  @include ui-toggle("padded");

  box-sizing: content-box;
}

.o-nav__toggle--open {
  .nav--is-open & {
    display: none;
  }

  @include media($bp__desktop) {
    display: none;
  }
}

.o-nav__toggle--close {
  display: none;

  @include media($dr__mobile) {
    .nav--is-open & {
      display: inline-block;
    }
  }
}

.o-nav__trigram {
  position: relative;

  display: inline-block;
  vertical-align: middle;

  width: em(23);
  height: em(23);

  margin-right: 1em;

  background-image: linear-gradient(to left, currentColor, currentColor);
  background-size: 100% em(3);
  background-repeat: no-repeat;
  background-position: center;

  &:before,
  &:after {
    content: "";
    display: block;

    position: absolute;

    width: 100%;
    height: em(3);

    background-color: currentColor;
  }

  &:before {
    top: em(2);
  }
  &:after {
    bottom: em(2);
  }
}

.o-nav__cross {
  position: relative;

  display: inline-block;
  vertical-align: middle;

  width: em(23);
  height: em(23);
  margin-right: .75em;

  &:before,
  &:after {
    position: absolute;
    top: .625em;
    content: "";

    display: block;
    width: 100%;
    height: em(3);

    background-color: currentColor;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.o-nav {
  padding: $wrap-padding-horz--1;

  @include media($bp__tablet) {
    @include padding(null $wrap-padding-horz--2)
  }

  @include media($dr__mobile) {
    display: none;
  }

  .nav--is-open & {
    display: block;
  }
}

.o-nav__list {
  font-family: $font__mono;

  list-style-type: none;
  
  @include margin(0 null);
  padding-left: 0;

  @include media($dr__mobile) {
    line-height: 2.5;
  }

  @include media($bp__desktop) {
    text-align: center;

    margin-top: -.25em;
    margin-bottom: -.25em;
  }
}

.o-nav__item {
  display: block;

  @include media($dr__mobile) {
    font-size: 1.25em;
  }

  @include media($bp__desktop) {
    display: inline-block;

    margin: .25em .75em;
  }
}

.o-nav__link {
  @include link--white;
}

.o-nav__icon {
  @include svg-external;
}
