.o-nav__toggle {
  display: none;

  color: currentColor;
  background-color: transparent;

  padding: 1em;
  border: none;

  box-sizing: content-box;

  overflow: hidden;

  width: em(26);
  height: em(20);
}

.o-nav__icon {
  display: block;

  border-top: em(4) solid currentColor;
  border-bottom: em(4) solid currentColor;

  margin-bottom: 1em;

  &:before {
    content: "";

    display: block;
    height: em(4);

    background-color: currentColor;

    @include margin(em(4) null);
  }
}

.o-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;

  text-align: center;

  transition: background-color $duration--s;

  .nav--is-pinned & {
    position: fixed;
    top: 0;

    background-color: black;
  }
}

.o-nav__list {
  list-style-type: none;
  
  @include padding(.25em null .25em 0);
}

[class^="o-nav__item"] {
  display: inline-block;

  @include margin(null 1em);
}

.o-nav__item--lang {
  margin-left: 3em;
}

.o-nav__link {
  @include link--white;
}
