.o-peek {
  @include stretch-background("fixed");
  @include wrap-padding;
  min-height: 75vmin;

  color: white;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.o-peek__content {
  @include reset-children;
}

.o-peek__credits {
  margin-top: 3em;
  margin-bottom: 0;

  list-style-type: none;
  padding-left: 0;

  font-size: .625em;
  line-height: 2;

  @include media($dr__large) {
    display: flex;
    justify-content: space-between;
  }
}

.o-peek__term {
  font-family: $font__mono;
  font-weight: $font__mono--regular;

  opacity: .625;

  @include media($dr__small) {
    display: inline-block;
    width: 6.5em;
  }

  @include media($dr__large) {
    margin-right: 1.5em;
  }
}

.o-peek__text {
  @include head--b;

  max-width: 17em;
}

[class^="o-peek__link"],
[class*=" o-peek__link"] {
  border-bottom: 2px solid;

  &:link, &:visited {
    color: white;
    border-bottom-color: rgba(white, .25);
  }
}

// Shameless specificity hack, still better than !important
.o-peek .o-peek__text {
  .o-peek__link--fb {
    &:hover, &:active {
      border-bottom-color: #3b5998;
    }
  }
  .o-peek__link--yt {
    &:hover, &:active {
      border-bottom-color: #cd201f;
    }
  }
  .o-peek__link--ig {
    &:hover, &:active {
      border-bottom-color: #5851db;
    }
  }
  .o-peek__link--tw {
    &:hover, &:active {
      border-bottom-color: #1da1f2;
    }
  }
  .o-peek__link--md {
    &:hover, &:active {
      border-bottom-color: #02b875;
    }
  }
}
