.o-peek {
  height: 50vmin;
}

.o-peek__frame {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;

  width: 100%;
  height: 100vh;
  padding: 1em;

  color: white;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .device--is-desktop & {
    background-attachment: fixed;
  }
}

.o-peek__title {
  position: absolute;
  bottom: 25%;
  left: 50%;
  z-index: 100;

  transform: translate(-50%, 50%);

  @include margin(0 null);
}
