.o-peek {
  @include media($dr__large) {
    height: 50vh;
  }
}

.o-peek__frame {
  padding: 1.5em;

  color: white;

  text-align: center;

  @include fixed-background;

  @include media($dr__large) {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;
  }
}

.o-peek__title {
  @include margin(0 null);

  @include media($dr__large) {
    position: absolute;
    bottom: 25%;
    left: 50%;
    z-index: 100;

    transform: translate(-50%, 50%);
  }
}
