[class^="o-section--"],
[class*=" o-section--"] {
  @include stretch-background("fixed");
}

.o-section--white {
  background-color: white;
}

.o-section--light {
  background-color: $grey--900;
}

.o-section--dark {
  color: white;
  background-color: $grey--100;
}

.o-section--black {
  color: white;
  background-color: black;
}

.o-section__bar {
  @include reset-children;
}

.o-section__title {
  text-align: center;
  @include head--b;

  .o-section__bar & {
    margin-bottom: .5em;
  }
}

.o-section__subtitle {
  display: block;

  text-align: center;

  font-weight: $font__sans--regular;
}

.o-section__button {
  margin-top: 1.5em;

  @include media($dr__large) {
    margin-top: 3em;
  }
}
