.o-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  list-style-type: none;
  padding-left: 0;
  @include margin(0 null -1.5em);

  counter-reset: steps-count;
}

.o-steps__item {
  position: relative;

  @include padding(2em 1em null);
  margin-bottom: 1.5em;

  max-width: em(360);

  &:before {
    position: absolute;
    left: 50%;
    top: 0;

    transform: translateX(-50%);

    content: counter(steps-count);
    counter-increment: steps-count;
  }

  @include media($dr__large) {
    width: 25%;
  }
}
