[class^="o-sticker--"] {
  float: left;

  max-width: 12em;
  padding: 1.5em 1em;

  box-sizing: content-box;

  text-align: center;

  @include reset-children;
}

.o-sticker--solid {
  color: black;
  background-color: white;

  transform: rotate(15deg);
}

.o-sticker--outline {
  border: 2px solid white;

  transform: rotate(-10deg) translate(4em, -10em);
}

.o-sticker__caps {
  font-size: em(12);

  text-transform: uppercase;
  letter-spacing: em(1);
}
