.o-timer {
  @include margin(2em null);
  @include padding(null 1.5em);
}

.o-timer__text {
  display: block;
  max-width: 7em;

  font-family: $font__mono;
  font-size: 2.25em;

  line-height: $leading--s;

  color: currentColor;
  background-color: transparent;

  @include margin(null auto);

  @include media($dr__large) {
    max-width: 60vw;

    font-size: 8vw;
  }
}
