.o-timeline {
  list-style-type: none;
  @include padding(null $wrap-padding-horz--1);

  line-height: 2;
}

.o-timeline__item {
  display: inline-block;

  @include margin(null .75em);
}

.o-timeline__active {
  font-weight: $font__sans--bold;

  color: currentColor;
  background-color: transparent;
}

.o-timeline__link {
  @include link--white;
}
