.o-timer {
  @include margin(2em null);
}

.o-timer__text {
  position: relative;

  display: block;

  font-size: 8vw;
  line-height: 1.25;

  color: currentColor;
  background-color: transparent;

  &:after {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background: linear-gradient(to right, tomato, gold);
    mix-blend-mode: screen;
  }
}
