.o-timer {
  @include margin(2em null);
}

.o-timer__text {
  position: relative;

  display: block;

  font-size: 7vw;
  line-height: 1.25;

  color: currentColor;
  background-color: transparent;
}
