.o-logo {
  margin-top: 1.5em;

  display: inline-block;
  padding: .5em 1.5em;

  font-weight: $font__sans--bold;

  text-transform: uppercase;
  letter-spacing: em(2);

  @include link--white;
}

.o-section--white {
  background-color: white;
}

.o-section--light {
  background-color: $grey--900;
}

.o-input {
  font-family: $font__sans;
  font-size: em(20);

  line-height: 1;

  color: currentColor;
  background-color: transparent;

  padding: 1em 1.5em;

  appearance: none;
  border-radius: 0;
  border: 2px solid;

  &:focus {
    outline: 0;
  }

  @include placeholder {
    color: white;
  }
}

.o-submit {
  font-family: $font__sans;
  font-size: em(20);

  line-height: 1;

  padding: 1em 1.5em;

  appearance: none;
  border-radius: 0;
  border: 2px solid white;

  color: black;
  background-color: white;

  cursor: pointer;

  &:hover, &:active, &:focus {
    color: white;
    background-color: transparent;
  }
}

.o-bullets__item {
  &:not(:last-child) {
    margin-bottom: .5em;
  }
}
