.o-logo {
  margin-top: 1.5em;

  display: inline-block;
  padding: .5em 1.5em;

  font-weight: $font__sans--bold;

  text-transform: uppercase;
  letter-spacing: em(2);

  @include link--white;
}

.o-ranking {
  display: block;

  color: currentColor;
  background-color: transparent;

  margin-bottom: 2rem;

  @include head--a;
  line-height: 1;

  &:before {
    content: "(";
    margin-right: .5em;

  }
  &:after {
    content: ")";
    margin-left: .5em;
  }
}

.o-nolist {
  list-style-type: none;
  padding-left: 0;
}

.o-label__text {
  display: block;

  margin-bottom: 1em;
}
