.o-logo {
  margin-top: 1.5em;

  display: inline-block;
  padding: .5em 1.5em;

  font-weight: $font__sans--bold;

  text-transform: uppercase;
  letter-spacing: em(2);

  @include link--white;
}

.o-section--white {
  background-color: white;
}

.o-section--light {
  background-color: $grey--900;
}

.o-bullets__item {
  &:not(:last-child) {
    margin-bottom: .5em;
  }
}
