extends ../_templates/_site

block template-content
  +hud("bid")

  section.m-hero--half.m-hero-pseudo--both(style="background-image: url(/assets/images/bg_bid_3.jpg)")
    .m-hero__content
      h1.m-hero__title O soutěži
      a.m-hero__button.o-button--outline(href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ftalentdesignu%2Fvideos%2F910960188957580", data-featherlight="iframe") Přehrát video

  +stats

  section.m-carousel.o-section--black
    .m-carousel__header.l-wrap
      h1.t-head--b Medailonky vítězů
    .m-carousel__list(data-carousel)
      each item in winners
        .m-carousel__item
          a.m-carousel__link(href=item.link, data-featherlight="iframe")
            .m-carousel__thumbnail--video
              img.m-carousel__image(src="/assets/images/" + item.thumbnail, alt=item.title)
            .m-carousel__content
              h2.m-carousel__title.t-head--d
                | Video: 
                = item.title
              strong.m-carousel__strong
                | Talent designu 
                = item.year

  +intro

  +prizes

  -
    var brick = {
      "modifier": "white",
      "image": "/assets/images/history_2014_2.jpg",
      "title": "Jaký byl minulý ročník?",
      "content": {
        "regular": [
          " loňském ročníku jsme obdrželi 1&nbsp;320 soutěžních prací, což je o polovinu více než v&nbsp;roce 2015. Udělili jsme ceny s&nbsp;tituly Talent designu a&nbsp;rozdali přes 10&nbsp;000&nbsp;€. Absolutními vítězi za grafické zpracování projektu o&nbsp;fotbalové kultuře Jedenástky se stali Andrej Čanecký a&nbsp;Andrej Barčák."
        ]
      },
      "button": {
        "title": "Historie soutěže",
        "href": "history.html"
      }
    }

  +brick(brick)

  +apply-form

  +supporters("bid")

  +crossroad

  +foot
