extends ../templates/_site

block template-content
  +hud

  section.m-hero--half(style="background-image: url(/assets/images/bg_bid_2.jpg)")
    .m-hero__content
      h1.t-head--a Kontakt

  main.m-contact.o-section--light
    .l-wrap
      .l-table
        .l-table__cell
          h1.t-head--b Manažer projektu
          ul.o-nolist
            li.o-nolist__item: strong.t-bold Michal Kinc
            li.o-nolist__item E-mail: #[a(href="mailto:michal.kinc@zlindesignweek.com") michal.kinc@zlindesignweek.com ]
            li.o-nolist__item Tel.: +420 725 941 451

        .l-table__cell
          h1.t-head--b Adresa
          ul.o-nolist
            li.o-nolist__item: strong.t-bold Nadační fond Martiny a Martina Růžičkových
            li.o-nolist__item 2. května 2384
            li.o-nolist__item 760 01 Zlín

      .m-contact__foot
        p Pro více informací nás prosím kontaktujte na #[a(href="mailto:info@bestindesign.cz") info@bestindesign.cz].

  +supporters

  +crossroad

  +foot

  +peek("bg_bid_3.jpg", "talentdesignu")
