extends ../_templates/_site

block template-content
  +hud("bid")

  section.m-hero--half.m-hero-pseudo--both(style="background-image: url(/assets/images/bg_bid_2.jpg)")
    .m-hero__content
      h1.m-hero__title Kontakt

  main.m-contact.o-section--light
    .l-wrap
      .l-table
        .l-table__cell
          h1 Manažer projektu
          ul
            li: strong Michal Kinc
            li E-mail: #[a(href="mailto:michal.kinc@zlindesignweek.com") michal.kinc@zlindesignweek.com ]
            li Tel.: +420 725 941 451

        .l-table__cell
          h1 Adresa
          ul
            li: strong Nadační fond Martiny a Martina Růžičkových
            li 2. května 2384
            li 760 01 Zlín

      .m-contact__foot
        p Pro více informací nás prosím kontaktujte na #[a(href="mailto:info@bestindesign.cz") info@bestindesign.cz].

  +supporters("bid")

  +crossroad

  +foot("bid")

  +peek("bg_bid_3.jpg", "bid")
