extends ../_templates/_site

block template-content
  +hud("bid")

  section.m-hero--full(style="background-image: url(/assets/images/bg_bid_1.jpg)")
    .m-hero__content
      h1.m-hero__title.t-head--a Nový název, nikoliv účel
      .m-hero__text
        p.t-text--big Soutěž Talent designu v&nbsp;novém kabátě. Nehledáme pouze talenty, hledáme ty nejlepší. Více než 10 000&nbsp;€ čeká na ty nejlepší z&nbsp;celého světa. Soutěž je otevřena všem do 30 let.
      a.m-hero__button.o-button--outline(href="submit-project.html") Přihlásit práci

  +intro("homepage")

  +prizes

  section.m-countdown.o-section--white
    .l-wrap.l-wrap--no-bottom
      .o-section__bar
        h2.o-section__title Jak můžeš vyhrát?
        strong.o-section__subtitle Drž se postupu, hlídej si čas a výhra bude tvoje

    .o-timer
      mark.o-timer__text.t-stretch(data-countdown="cs") 24. 12. 2016

    .l-wrap.l-wrap--no-top
      ol.o-steps
        li.o-steps__item Přihlas práci, která nesmí být starší než 1.&nbsp;1. 2015
        li.o-steps__item Vyber si ze 4&nbsp;soutěžních kategorií
        li.o-steps__item Pošli svou práci do 14.&nbsp;2. 2017
        li.o-steps__item Počkej do 28.&nbsp;4. 2017 a&nbsp;převezmi hlavní cenu

      a.o-section__button.o-button--solid(href="rules.html") Úplná pravidla

  +apply-form

  +short-history

  +crossroad

  +mail

  +supporters("bid")

  +foot

  +peek("bg_bid_3.jpg", "talentdesignu")
