$wrap-padding-horz--1: 1.5em;
$wrap-padding-horz--2: 2.75em;

$wrap-padding-vert--1: 1.75em;
$wrap-padding-vert--2: 3em;

@mixin wrap-padding($direction: all) {
  @if ($direction == horizontal) {

    @include padding(null $wrap-padding-horz--1);

    @include media($dr__large) {
      @include padding(null $wrap-padding-horz--2);
    }

  } @else if ($direction == vertical) {

    @include padding($wrap-padding-vert--1 null);

    @include media($dr__large) {
      @include padding($wrap-padding-vert--2 null);
    }

  } @else if ($direction == top or $direction == bottom) {

    padding-#{$direction}: $wrap-padding-vert--1;

    @include media($dr__large) {
      padding-#{$direction}: $wrap-padding-vert--2;
    }

  } @else if ($direction == left or $direction == right) {

    padding-#{$direction}: $wrap-padding-horz--1;

    @include media($dr__large) {
      padding-#{$direction}: $wrap-padding-horz--2;
    }

  } @else {
    padding: $wrap-padding-vert--1 $wrap-padding-horz--1;

    @include media($dr__large) {
      padding: $wrap-padding-vert--2 $wrap-padding-horz--2;
    }

  }
}

.l-wrap {
  @include margin(null auto);

  @include clearfix;
  @include reset-children;
  @include wrap-padding(all);

  max-width: 70em;
}

.l-wrap--no-bottom {
  padding-bottom: 0;
}
.l-wrap--no-top {
  padding-top: 0;
}
