@mixin link--conf {
  &:link, &:visited {
    color: $conf-color--500;
  }
  &:hover, &:active {
    color: black;
  }
}

/*

ZDW

*/

.theme--zdw {
  .m-cards__block--link {
    &:hover,
    &:active {
      color: black;
      background-color: $zdw-color--500;
    }
  }
}

/*

Conference

*/

.theme--conf {
  color: $conf-color--500;

  .o-brick--black {
    color: $conf-color--500;
    background-color: $conf-color--900;

    a {
      @include link--conf;
    }
  }

  .o-section--light {
    background-color: $conf-color--900;
  }

  [class^="m-hero--"],
  [class*=" m-hero--"] {
    background-color: $conf-color--500;
  }

  .m-cards__block--static {
    background-color: $conf-color--500;
  }

  .o-onoff__button {
    border-color: $conf-color--500;

    &.is--active {
      background-color: $conf-color--500;
    }
  }

  .m-tickets {
    color: white;
    background-color: $conf-color--500;
  }

  .o-ticket {
    color: $conf-color--500;
    background-color: white;
  }

  .o-ticket__button {
    @include link--conf;
  }

  .ticket--is-disabled {
    background-color: rgba(white, .5);
  }

  .s-event-facts {
    color: $conf-color--500;
  }
}
