$zdw-color--500:  #FCEE21;
$conf-color--500: #003399;
$conf-color--900: #E6ECF4;

.zdw-cards__link {
  &:hover,
  &:active {
    color: black;
    background-color: $zdw-color--500;
  }
}

.conf-cards__block {
  background-color: $conf-color--500;
}
