@mixin link--conf {
  &:link, &:visited {
    color: $conf-color--500;
  }
  &:hover, &:active {
    color: black;
  }
}

/*

ZDW

*/

.theme--zdw {
  .o-hud {
    color: black;
  }

  .headroom--not-top,
  .o-hud:after,
  &.nav--is-open .o-hud {
    background-color: $zdw-color--500;
  }

  .o-peek,
  [class^="m-hero--"],
  [class*=" m-hero--"],
  .m-cards__block--link:hover,
  .m-cards__block--link:active {
    color: black;
    background-color: $zdw-color--500;
  }

  [class^="o-logo--"],
  [class*=" o-logo--"],
  .o-nav__link,
  .o-timeline__link,
  &.nav--is-open .o-switcher__link,
  .m-hero__button {
    @include link--black;
  }

  [class^="o-peek__link"],
  [class*=" o-peek__link"] {
    &:link, &:visited {
      color: black;
      border-bottom-color: rgba(black, .25);
    }
  }
}

/*

Conference

*/

.theme--conf {
  &,
  .s-event-facts {
    color: $conf-color--500;
  }

  .o-brick--black {
    color: $conf-color--500;
    background-color: $conf-color--900;

    a {
      @include link--conf;
    }
  }

  .o-section--light {
    background-color: $conf-color--900;
  }

  .o-peek,
  .m-cards__block--static,
  [class^="m-hero--"],
  [class*=" m-hero--"] {
    background-color: $conf-color--500;
  }

  .o-onoff__button {
    border-color: $conf-color--500;

    &.is--active {
      background-color: $conf-color--500;
    }
  }

  .m-tickets {
    color: white;
    background-color: $conf-color--500;
  }

  :checked + .o-radio__wrap:before {
    background-color: $conf-color--500;
    border-color: $conf-color--500;
  }

  .o-ticket {
    color: $conf-color--500;
    background-color: white;
  }

  .o-ticket__button {
    @include link--conf;
  }

  .ticket--is-disabled {
    background-color: rgba(white, .5);
  }

  .o-submit--black {
    background-color: $conf-color--500;
    &:hover {
      background-color: black;
    }
  }
}

/*

Best in Design

*/
.theme--bid {
  .headroom--not-top,
  .o-hud:after,
  &.nav--is-open .o-hud {
    background-color: $bid-color--500;
  }
}
