$grey--100:   hsb(000, 000, 010);
$grey--400:   hsb(000, 000, 040);
$grey--800:   hsb(000, 000, 073);
$grey--900:   hsb(000, 000, 092);

/*
Themes
*/
$bid-color--500:  #663399;
$zdw-color--500:  #FCEE21;
$conf-color--500: #003399;
$conf-color--900: #E6ECF4;

/*
Interactive
*/
$c-link:         currentColor;
$c-visited:      $c-link;

$c-hover:        rgba(black, .75);
$c-active:       $c-hover;

$c-select__bg:   black;
$c-select__text: white;
