$grey--100:   hsb(000, 000, 010);
$grey--400:   hsb(000, 000, 040);
$grey--800:   hsb(000, 000, 073);
$grey--900:   hsb(000, 000, 092);

// Interactive
$c-link:         currentColor;
$c-visited:      $c-link;

$c-hover:        rgba(black, .75);
$c-active:       $c-hover;

$c-select__bg:   black;
$c-select__text: white;
