$block--s: 13em;
$block--b: 14em;
$block--l: 16.5em;

$leading--b: 1.5;
$leading--s: 1.25;

$duration--s: .25s;
$duration--b: .5s;

$ease--l: $ease-in-out-expo;
$ease--m: $ease-in-out-quint;

$logo-default--zdw: 3em;
$logo-default--bid: 4em;
