mixin apply-form
  section.m-apply(style="background-image: url(/assets/images/bg_bid_2.jpg)")
    .l-wrap
      .o-section__bar
        h2.o-section__title.t-head--c Jsi připraven stát se nejlepším?
        strong.o-section__subtitle Tak neváhej a pošli svou práci ještě dnes!

      .m-apply__content
        a.m-apply__button(href="submit-project.html")
          | Přihlásit práci 
          span.m-apply__arrow &rarr;
