mixin foot(project)
  footer.o-foot
    .l-wrap
      .o-foot__logo: include ../../svg/logo_zdw.svg
      .o-foot__table
        .o-foot__cell
          h4.o-foot__head.t-smallcaps O projektu
          p ZLIN DESIGN WEEK je projekt realizovaný studenty Fakulty multimediálních komunikací Univerzity Tomáše Bati ve Zlíně.
          p 24–30. dubna 2017; Zlín, Česká republika

        .o-foot__cell
          h4.o-foot__head.t-smallcaps Odkazy
          ul.o-foot__list--nobreak
            -
              var projectsObject = [
                {
                  "id": "zdw",
                  "title": "Zlin Design Week",
                  "href": "http://www.zlindesignweek.com/week/"
                },
                {
                  "id": "conf",
                  "title": "Konference",
                  "href": "http://www.zlindesignweek.com/konference/"
                },
                {
                  "id": "bid",
                  "title": "Best in Design",
                  "href": "http://www.bestindesign.cz"
                }
              ]
            each item in projectsObject
              unless project == item.id
                li.o-foot__li: a(href=item.href)!= item.title

        .o-foot__cell
          h4.o-foot__head.t-smallcaps Kontakt
          if project == "conf"
            ul.o-foot__list
              li.o-foot__li Aneta Oulehlová
              li.o-foot__li: a(href="mailto:aneta.oulehlova@zlindesignweek.com")
                | aneta.oulehlova<wbr>@zlindesignweek<wbr>.com
              li.o-foot__li +420 736 222 423
          else if project == "zdw"
            ul.o-foot__list
              li.o-foot__li Nikola Timkovičová
              li.o-foot__li: a(href="mailto:nikola.timkovicova@zlindesignweek.com")
                | nikola.timkovicova<wbr>@zlindesignweek<wbr>.com
              li.o-foot__li +420 776 343 310
            ul.o-foot__list
              li.o-foot__li Tereza Konečná
              li.o-foot__li: a(href="mailto:tereza.konecna@zlindesignweek.com")
                | tereza.konecna<wbr>@zlindesignweek<wbr>.com
              li.o-foot__li +420 728 876 653
          else
            ul.o-foot__list
              li.o-foot__li Michal Kinc
              li.o-foot__li: a(href="mailto:michal.kinc@zlindesignweek.com")
                | michal.kinc<wbr>@zlindesignweek<wbr>.com
              li.o-foot__li +420 725 941 451
