mixin hud(type)
  header.o-hud#js-headroom
    .o-hud__head
      .o-hud__cell
        if type == "zdw"
          a.o-logo--zdw(href="index.html"): include ../../svg/logo_zdw.svg
        else
          a.o-logo--bid(href="index.html"): include ../../svg/logo_bid.svg

      .o-hud__cell
        button.o-nav__toggle--open(data-nav-toggle)
          span.o-nav__trigram
          | Menu

        button.o-nav__toggle--close(data-nav-toggle)
          span.o-nav__cross
          | Close

    nav.o-nav
      ul.o-nav__list
        - var pageObject
        case type
          when "zdw"
            - pageObject = pages[0]
          when "bid"
          default
            - pageObject = pages[1]
        each page in pageObject
          li.o-nav__item: a.o-nav__link(href=page.link)= page.title

    .o-switcher
      button.o-switcher__toggle(data-switcher)
        | Všechny projekty
        svg.o-switcher__icon(viewBox="0 0 16 10", xmlns="http://www.w3.org/2000/svg")
          path(d="M2,2 L8,8 L14,2")
      strong.o-switcher__title Další projekty

      -
        var switcherObject = [
          {
            "name": "Zlin Design Week",
            "href": "/temporary/temp-zdw.html"
          },
          {
            "name": "Konference Design &amp; Marketing",
            "href": "/temporary/temp-conf.html"
          },
          {
            "name": "Best in Design",
            "href": "http://www.bestindesign.cz"
          }
        ],
        switcherActive

      case type
        when "zdw"
          - switcherActive = 0
        when "conf"
          - switcherActive = 1
        default
          - switcherActive = 2

      .o-switcher__content
        each item, index in switcherObject
          if switcherActive == index
            mark.o-switcher__link--active!= item.name
          else
            a.o-switcher__link(href=item.href)!= item.name

  span.o-switcher-close(data-switcher)
