mixin mail(type)
  section.m-mail
    .m-mail__wrap.l-wrap
      h1.m-mail__title Chceš zůstat v obraze? Přihlaš se k odběru novinek!

      form.m-mail__form(action="//zlindesignweek.us11.list-manage.com/subscribe/post?u=6b2cc9d11694add8221484e2c&amp;id=2a0f50ac75", method="post", target="_blank", novalidate)
        input.m-mail__input.o-input--white(type="email", placeholder="Tvůj email", name="EMAIL")
        div(style="position: absolute; left: -5000px;", aria-hidden="true")
          input(type="text", name="b_6b2cc9d11694add8221484e2c_2a0f50ac75", tabindex="-1", value="")
        input.m-mail__submit.o-submit--white(type="submit", value="Přihlásit se k odběru", name="subscribe")

      if type == "full"
        .m-mail__foot
          h1.m-mail__title &hellip; nebo se podívej na #[a.m-mail__link(href="https://medium.com/zlin-design-week") náš Medium blog].
