mixin peek(background, social)
  .o-peek(style="background-image: url(/assets/images/" + background + ")")
    .o-peek__content
      p.o-peek__text Uvidíme se ve Zlíně! Mezitím nás můžete sledovat na #[a.o-peek__link--fb(href="https://www.facebook.com/" + social, data-external) Facebooku].
    ul.o-peek__credits
      li.o-peek__item
        strong.o-peek__term Design 
        | Jan Břeský
      li.o-peek__item
        strong.o-peek__term Front-end 
        | Christian Jánský
      li.o-peek__item
        strong.o-peek__term Back-end 
        | Michal Černý
