mixin peek(background, project)
  .o-peek(style=background ? "background-image: url(/assets/images/" + background + ")" : false)
    .o-peek__content
      if project == "bid"
        p.o-peek__text Uvidíme se ve Zlíně! Mezitím nás můžete sledovat na #[a.o-peek__link--fb(href="https://www.facebook.com/talentdesignu", data-external) Facebooku].
      else
        p.o-peek__text Uvidíme se ve Zlíně! Mezitím nás můžete sledovat na #[a.o-peek__link--fb(href="https://www.facebook.com/zlindesignweek", data-external) Facebooku], #[a.o-peek__link--ig(href="https://www.instagram.com/zlindesignweek", data-external) Instagramu], #[a.o-peek__link--tw(href="https://twitter.com/KonferenceZDW", data-external) Twitteru], #[a.o-peek__link--md(href="https://medium.com/zlin-design-week", data-external) Blogu] nebo #[a.o-peek__link--yt(href="https://www.youtube.com/channel/UCNGGPdcnxCzpWohAwGk23Hw", data-external) Youtube].

    ul.o-peek__credits
      li.o-peek__item
        strong.o-peek__term Design 
        | Jan Břeský
      li.o-peek__item
        strong.o-peek__term Front-end 
        | Christian Jánský
      li.o-peek__item
        strong.o-peek__term Back-end 
        | Michal Černý
