mixin prizes
  section.m-prizes.o-section--light
    .l-wrap
      h2.t-head--b Co je ve hře?
      .m-prizes__container
        .m-prizes__block.o-ferns--large
            span.o-ferns__item--left: include ../../svg/shape_fern_left.svg
            h3.o-ferns__title.t-caps--large Hlavní cena
            strong.m-prizes__note 4 000 € + stáž k tomu
            span.o-ferns__item--right: include ../../svg/shape_fern_right.svg
        .m-prizes__block
          ol.m-prizes__list
            li.m-prizes__item 1000 € + stáž
            li.m-prizes__item 300 €
            li.m-prizes__item 200 €
      a.o-section__button.o-button--solid(href="rules.html") Všechny ceny
