mixin short-history
  section.o-brick--white
    .o-brick__image(style="background-image: url(/assets/images/history_2014_2.jpg)")

    .o-brick__content
      .o-brick__top
        h2.t-head--b Jak vypadal minulý ročník?
        .o-brick__text
          p V loňském ročníku jsme obdrželi 1&nbsp;320 soutěžních prací, což je o polovinu více než v&nbsp;roce 2015. Udělili jsme ceny s&nbsp;tituly Talent designu a&nbsp;rozdali přes 10&nbsp;000&nbsp;€. Absolutními vítězi za grafické zpracování projektu o&nbsp;fotbalové kultuře Jedenástky se stali Andrej Čanecký a&nbsp;Andrej Barčák.
      .o-brick__bottom
        a.o-button--outline(href="history.html") Historie soutěže
