mixin supporters(type)
  section.m-supporters.o-section--white
    .l-wrap
      ul.o-affiliate--main

        //- Temporary ZDW and Conference pages
        if type == "temp"
          li.o-affiliate__item--large
            h2.m-supporters__title.t-head--d Pořadatel
            a.o-affiliate__link(href="http://www.utb.cz/fmk")
              img.o-affiliate__image(src="/assets/images/companies/logo_utb.png", alt="Partner Logo")

          li.o-affiliate__item--large
            h2.m-supporters__title.t-head--d Významný partner
            a.o-affiliate__link(href="http://avonet.cz")
              img.o-affiliate__image(src="/assets/images/companies/logo_avonet.png", alt="Partner Logo")

        else
          //- Show fund logo for Best in Design
          if type == "bid"
            li.o-affiliate__item--large
              h2.m-supporters__title.t-head--d Vyhlašovatel
              a.o-affiliate__link(href="javascript:")
                img.o-affiliate__image(src="/assets/images/companies/logo_fond_ruzickovych.jpg", alt="Partner Logo")

          //- Show University logo for all pages
          li.o-affiliate__item--large
            h2.m-supporters__title.t-head--d Spolupořadatel
            a.o-affiliate__link(href="http://www.utb.cz/fmk")
              img.o-affiliate__image(src="/assets/images/companies/logo_utb.png", alt="Partner Logo")
