mixin tickets()
  section.m-tickets.o-section--light
    .l-wrap.l-wrap--big
      h1.m-tickets__title Chceš dojet? Kup si vstupenku!

      .m-tickets__list
        -
          var ticketObject = [
            {
              "enabled": true,
              "note": "Konference design&nbsp;&amp;&nbsp;marketing",
              "title": "V předprodeji",
              "subtitle": "Zbývá 320 vstupenek.",
              "price": {
                "standard": "2000",
                "student": "750"
              },
              "available": true
            },
            {
              "enabled": false,
              "note": "Konference design&nbsp;&amp;&nbsp;marketing",
              "title": "Na místě",
              "subtitle": "Nutno předem registrovat emailem.",
              "price": {
                "standard": "2400",
                "student": "900"
              },
              "bookable": true
            }
          ]
        each ticket, index in ticketObject
          article.m-tickets__item
            .o-ticket(class=ticket.enabled ? null : "ticket--is-disabled")
              .o-ticket__aside
                mark.o-ticket__note!= ticket.note
              .o-ticket__content
                .o-ticket__table
                  .o-ticket__cell
                    h1.o-ticket__title= ticket.title
                    small.o-ticket__subtitle!= ticket.subtitle
                  .o-ticket__cell
                    if ticket.available
                      a.o-ticket__button.o-button--outline(href="tickets.html") Koupit
                    else if ticket.bookable
                      a.o-ticket__button.o-button--outline(href="mailto:petra.sedlackova@zlindesignweek.com") Rezervovat
                    else
                      | &nbsp;

                ul.o-ticket__list
                  li.o-ticket__price
                    = ticket.price.standard
                    span.o-ticket__sup Kč
                  li.o-ticket__price
                    = ticket.price.student
                    span.o-ticket__sup Kč student
