extends ../_templates/_site

append template-variables
  - var theme = "conf"

block template-content
  +hud(theme)

  section.m-hero--half.m-hero-pseudo--top(style="background-image: url(/assets/images/bg_hero_conf_2.jpg)")
    .m-hero__content
      h1.m-hero__title O konferenci

    .m-hero__pin
      ul.o-timeline
        li.o-timeline__item
          mark.o-timeline__active 2017
        li.o-timeline__item
          a.o-timeline__link(href="history.html") 2016

  section
    .l-wrap
      p Konference design &amp; marketing proběhne již po třetí v kulisách Zlína, a to jako nedílná součást sedmidenního festivalu designu Zlin Design Week. Málokdy bývá součástí už tak velké akce i konference, v tom je zlínský design week unikátní. V jednom týdnu tak proběhne nespočet výstav, workshopů, přednášek, ale i vernisáží, jedno kino i vyhlášení designérské soutěže. Konference design &amp; marketing je jako jedinou konferencí podobného zaměření v České republice oblíbena u studentů, odborníků z firem i designových studií, učitelů a profesorů, zkrátka a dobře stává se platformou setkávání široké skupiny lidí. 
      p To, co jí určuje směr je téma. V prvním ročníku jím bylo Design - Značka - Příběh, kde byl na programu zejména osud značky na trhu, branding nebo příběhy o značkách. Slyšeli jsme například o Baru, který neexistuje, Freshlabels, jak se vyrábí lustry v Lasvitu nebo jak se fotí pro Redbull. Druhý ročník získal téma Prachy. O hodnotě designu, značky a lidské práce, také o tom, jak být dobrým designérem a markeťákem mluvili webový designér Jerry Tvrdek, Marian Fury CEO ze Zaraguzy, Jindra Vejvodová z Preciosy nebo designér Petr Novak. A letošní ročník nás čeká téma Omezení. Na první poslech zní omezení dosti negativně, je jich totiž opravdu spousta. Ale my vám ukážeme ta pozitivní omezení nebo jak se s těmi negativními správně vypořádat.

  +tickets

  +crossroad(theme)

  +mail("full")

  +supporters

  +foot(theme)

  +peek("bg_bid_3.jpg", theme)
