extends ../_templates/_site

append template-variables
  - var theme = "conf"

block template-content
  +hud(theme)

  section.m-hero--half.m-hero-pseudo--both
    .m-hero__content
      h1.m-hero__title Kontakt

  main.m-contact.o-section--light
    .l-wrap

      .m-contact__group
        h1 Manažerka projektu
        ul
          li: strong Aneta Oulehlová
          li #[a(href="mailto:aneta.oulehlova@zlindesignweek.com") aneta.oulehlova@zlindesignweek.com]
          li +420 736 222 423

      .m-contact__foot
        h1 Máte nějaký dotaz nebo problém?
        p Pokud to vyložene nehoří, nechte nám zprávu na #[a(href="mailto:info@zlindesignweek.com") info@zlindesignweek.com]. Pokud ano, raději volejte na +420 736 222 423.

  +supporters

  +crossroad(theme)

  +foot(theme)

  +peek(null, theme)
