extends ../_templates/_site

block template-content
  +hud("conf")

  section.m-hero--half.m-hero-pseudo--both(style="background-image: url(/assets/images/bg_bid_2.jpg)")
    .m-hero__content
      h1.m-hero__title Kontakt

  main.m-contact.o-section--light
    .l-wrap

      .m-contact__group
        h1 Manažerka projektu
        ul
          li: strong Aneta Oulehlová
          li #[a(href="mailto:aneta.oulehlova@zlindesignweek.com") aneta.oulehlova@zlindesignweek.com]
          li +420 736 222 423

      .m-contact__foot
        h1 Máte nějaký dotaz nebo problém?
        p Pokud to vyložene nehoří, nechte nám zprávu na #[a(href="mailto:info@zlindesignweek.com") info@zlindesignweek.com]. Pokud ano, raději volejte.

  +supporters

  +crossroad

  +foot("conf")

  +peek("bg_bid_3.jpg", "conf")
