extends ../_templates/_site

block template-content
  +hud("conf")

  section.m-hero--full(style="background-image: url(/assets/images/bg_bid_1.jpg)")
    .m-hero__content
      h1.m-hero__title Konference Design &amp; marketing 2017
      p.m-hero__details
        strong.m-hero__date 26. dubna 2017 
        span.m-hero__location Městské divadlo Zlín, CZE
      .m-hero__text
        p Propojení dvou světů, které se navzájem potřebují a doplňují, ne vždy se ale navzájem chápou. Řečníci ze světa i České republiky, kteří mají opravdu co říct, přinesou mnoho podnětů a inspirace. Nenechte si ujít tuto příležitost rozšířit si obzory, navázat nové kontakty a poznat spoustu nových lidí.
      a.m-hero__button.o-button--outline(href="javascript:") Program

  main.o-section--white
    .l-wrap
      h1.o-section__title Spojení designu a marketingu

      ul.o-flexlist
        li.o-flexlist__item--tri
          h2.t-head--d Design
          p Design jako plán něčeho. Design jako funkce. Design jako estetika. Design jako produkt s funkční hodnotou. Design jako umění. Design. Hodnota. Potřebuje design marketing, aby nebyl pouhopouhým výtvorem na poličce? 

        li.o-flexlist__item--tri
          h2.t-head--d Marketing
          p Marketing jako proces. Marketing jako uspokojování potřeb zákazníka. Marketing je být ve správný čas na správném místě. Design a marketing? Díky kreativitě a jejich promyšlené provázanosti vznikají opravdové hodnoty, které pak tvoří základní stavební kámen pro produkt, značku nebo společnost.

        li.o-flexlist__item--tri
          h2.t-head--d Omezení
          p Omezení zadáním, časem, materiálem, rozpočtem, prostorem, pravidly. Omezení naším vnímáním a naší myslí samotnou. Design a marketing jsou omezovány různými faktory. Musí být ale vždy omezení negativní? Existují pozitivní omezení?

  section.o-brick--black
    .o-brick__image(style="background-image: url(/assets/images/history_conf.jpg)")

    .o-brick__content
      .o-brick__top
        h2.t-head--b Koho budete moci na konferenci slyšet?
        .o-brick__text
          p.t-text--big Chceme vám přivést špičky z obou oborů z České republiky i ze zahraničí. Postupně je vám budeme přestavovat, zatím se můžete podívat, jak vysoko jsme nasadili laťku během minulých ročníků.
      .o-brick__bottom
        a.o-button--outline(href="history.html") Historie

  +tickets

  +crossroad("conf")

  +mail("full")

  section.o-section--light
    .l-wrap
      .m-article__head
        h1.m-article__title Máte dotaz?
        p Pokud ho nenajdete níže, napište nám na #[a(href="mailto:info@zlindesignweek.com") info@zlindesignweek.com].

      .m-article__columns
        h2.m-article__runin.t-head--c Pro koho je Konference design &amp; marketing určena?
        p Pro všechny, kteří se zajímají o design a marketing, o fungování těchto dvou světů a touží po nových impulzech a inspiraci. Díky různorodosti řečníků si své najdou jak profesionálové z oboru, tak studenti a další, kteří se o design nebo marketing blíže zajímají.

        h2.m-article__runin.t-head--c V jakém jazyce bude konference?
        p Vzhledem k tomu, že naši řečníci jsou jak z Česka, tak ze zahraničí, budou jednotlivé bloky probíhat v češtině nebo angličtině dle původu řečníka. V ceně vstupného, bude možné zapůjčit si sluchátka se simultánním překladem.

        h2.m-article__runin.t-head--c Jak bude vypadat finální program?
        p Na konferenci vystoupí 8 řečníků. Můžete se těšit na dva coffee-breaky a oběd. Po skončení konference jste zvání na afterparty, kde se kromě jídla a pití můžete seznámit, prodiskutovat proběhlý den nebo vyměnit pár kontaktů. 

        h2.m-article__runin.t-head--c Do kdy můžu vstupenku stornovat nebo změnit jméno účastníka?
        p Stornovat vstupenku je možné do 9. dubna, změnit jméno účastníka potom do 16. dubna.

  +supporters

  +foot

  +peek("bg_bid_3.jpg", "talentdesignu")
