extends ../_templates/_site

block template-content
  +hud("conf")

  section.m-hero--half.m-hero-pseudo--both(style="background-image: url(/assets/images/bg_bid_3.jpg)")
    .m-hero__content
      h1.m-hero__title Vstupenka na konferenci

  section.o-section--light
    .l-wrap
      h1.o-section__title Co je součástí?

      ul.m-cards
        -
          var cardsObject = [
            {
              "title": "Přednášky",
              "content": "8 inspirujících řečníků z Česka i zahraničí."
            },
            {
              "title": "Gastro full-service",
              "content": "Nejrůznější pochutiny včetně dobré kávy."
            },
            {
              "title": "Afterparty",
              "content": "V ceně vstupenky je afterparty s alkoholem zdarma. Už jste někdy trsali na zámku?"
            },
            {
              "title": "Dárky",
              "content": "Protože všichni rádi dostávají dárky, v den konference od nás dostanete rovnou plnou tašku."
            }
          ]
        each card in cardsObject
          li.m-cards__item
            .m-cards__block--static
              strong.m-cards__top= card.title
              span.m-cards__bottom= card.content

  main
    form.m-application.l-wrap
      h1.m-application__title.t-head--b Kontaktní údaje
      .m-application__section
        each item in ["Jméno", "Příjmení", "Adresa", "Město", "PSČ", "Země", "Telefon", "E-mail"]
          .m-application__row
            input.o-input--black(type="text", placeholder=item)

      .m-application__foot
        input.o-submit--black(type="submit", value="Koupit vstupenku")

  +crossroad("conf")

  +mail("full")

  +supporters

  +foot("conf")

  +peek("bg_bid_3.jpg", "conf")
