.t-smallcaps {
  font-weight: $font__sans--bold;

  text-transform: uppercase;
  letter-spacing: em(2);
}

.t-caps {
  font-size: 2.5em;

  font-family: $font__mono;
  font-weight: $font__mono--bold;

  line-height: 1;
  text-transform: uppercase;
  letter-spacing: em(2);
}

.t-head--a {
  font-size: em(58);
  font-family: $font__mono;
  font-weight: $font__mono--regular;

  word-spacing: .5em;
}

.t-head--b {
  font-size: em(28);
  font-weight: $font__sans--medium;
}

.t-head--c {
  font-size: em(36);
  font-family: $font__mono;
  font-weight: $font__mono--regular;
}

.t-head--d {
  font-size: em(22);
  font-weight: $font__sans--medium;
}

.t-head--e {
  font-size: em(20);
  font-family: $font__mono;
  font-weight: $font__mono--regular;

  @include margin(.5em null);
}

.t-text--big {
  font-size: em(22);
}

.t-ulink {
  border-bottom: 1px solid;
}
