@mixin link--white {
  &:link, &:visited {
    color: white;
  }
  &:hover, &:active {
    color: rgba(white, .75);
  }
}

.t-smallcaps {
  font-weight: $font__sans--semibold;

  text-transform: uppercase;
  letter-spacing: em(2);
}

[class^="t-caps--"],
[class*=" t-caps--"] {
  font-family: $font__mono;
  font-weight: $font__mono--bold;

  line-height: 1;
  text-transform: uppercase;
  letter-spacing: em(2);
}

.t-caps--large {
  font-size: 1.5em;

  @include media($bp__desktop) {
    font-size: 2.25em;
  }
}

.t-caps--small {
  font-size: 1.25em;

  @include media($dr__large) {
    font-size: 1.75em;
  }
}

/* HEADLINES */

@mixin head--a {
  font-size: 2.25em;
  font-family: $font__mono;
  font-weight: $font__mono--regular;

  @include media($bp__desktop) {
    font-size: 3.5em;
  }
}

@mixin head--b {
  font-size: 1.75em;
  font-weight: $font__sans--medium;
}

.t-head--a {
  @include head--a;

  @include margin(.25em null);
}

.t-head--b {
  @include head--b;

  @include margin(.25em null);
}

.t-head--c {
  font-size: 1.5em;
  font-family: $font__mono;
  font-weight: $font__mono--regular;

  @include margin(.75em null);

  @include media($dr__large) {
    font-size: 2.25em;
    
    @include margin(1em null);
  }
}

.t-head--d {
  font-size: em(22);
  font-weight: $font__sans--medium;
}

.t-head--e {
  font-size: em(20);
  font-family: $font__mono;
  font-weight: $font__mono--regular;

  @include margin(.5em null);
}

.t-text--big {
  @include media($dr__large) {
    font-size: 1.375em;
  }
}

.t-bold {
  font-weight: $font__sans--semibold;
}
