extends ../_templates/_site

append template-variables
  - var theme = "zdw"

block template-content
  +hud(theme)

  section.m-hero--half.m-hero-pseudo--top(style="background-image: url(/assets/images/bg_hero_zdw_1.jpg)")
    .m-hero__content
      h1.m-hero__title O Zlin Design Weeku

    .m-hero__pin
      ul.o-timeline
        li.o-timeline__item
          mark.o-timeline__active 2017
        li.o-timeline__item
          a.o-timeline__link(href="history.html") 2016

  section.l-wrap
    .m-article
      .m-article__table
        .m-article__cell
          h2.m-article__title Třetí týden designu ve&nbsp;Zlíně
        .m-article__cell
          p Třetí týden designu ve Zlíně s sebou přinese současný design a jeho trendy, tvorbu firem a designérů z Česka i ze zahraničí, nebo možná něco úplně nového a neobvyklého. Aby se třetí ročník návštěvníkům nezdál moc stereotypní, vytváříme nové koncepty výstav a instalací. Zanecháváme výstavní CITY moduly, vracíme se na Zlínský zámek, obnovujeme instalaci ve Zlatém Jablku, ztratit se budete moct v designu i v parcích. Záležet si dáváme také na jednotlivých instalacích díky promyšleným konceptům podpořené sjednocujícím tématem Zlin Design Weeku 2017 – OMEZENÍ.
          p Omezení je spousta. V normálním životě i v designu. Omezení je všechno a zároveň to nemusí být nic. Záleží na každém, jak s ním nakládá, jak se s ním vypořádá, a co si z něho bere. My vám představíme ta pozitivní omezení, která se v designu vyskytují.

    .m-teaser
      .m-teaser__item(style="background-image: url(/assets/images/bg_hero_conf_1.jpg)")
        .m-teaser__body
          h2.m-teaser__title Konference design &amp;&nbsp;marketing
          .m-teaser__content
            p V Aule Univerzity Tomáše Bati ve Zlíně se uskuteční Konference design &amp; marketing, která se bude zabývat překážkami na poli designu, lidským omezením i omezením díky různým faktorům.
        a.m-teaser__link(href="javascript:") Přejít na stránku
      .m-teaser__item(style="background-image: url(/assets/images/bg_hero_bid_1.jpg)")
        .m-teaser__body
          h2.m-teaser__title Best in Design
          .m-teaser__content
            p Organizujeme již osmý ročník mezinárodní soutěže pro všechny mladé designéry Best in Design, dříve známou jako Talent designu. Ve hře je 10 000 €!
        a.m-teaser__link(href="javascript:") Přejít na stránku

  +mail("full")

  +supporters(theme)

  +foot(theme)

  +peek(null, theme)
