extends ../_templates/_site

append template-variables
  - var theme = "zdw"

block template-content
  +hud(theme)

  section.m-hero--half.m-hero-pseudo--both
    .m-hero__content
      h1.m-hero__title Kontakt

  main.m-contact
    .l-wrap
      .m-contact__group
        h1 Garant projektu
        ul
          li: strong Pepa Kocourek
          li #[a(href="mailto:kocourek@fmk.utb.cz") kocourek@fmk.utb.cz]
          li +420 606 777 292

      .m-contact__group
        h1 Manažerky projektu
        .l-table
          .l-table__cell
            ul
              li: strong Nikola Timkovičová
              li
                a(href="mailto:nikola.timkovicova@zlindesignweek.com")
                  | nikola.timkovicova<wbr>@zlindesignweek<wbr>.com
              li +420 776 343 310

          .l-table__cell
            ul
              li: strong Tereza Konečná
              li
                a(href="mailto:tereza.konecna@zlindesignweek.com")
                  | tereza.konecna<wbr>@zlindesignweek<wbr>.com
              li +420 728 876 653

      .m-contact__group
        h1 Akreditace a média
        ul
          li: strong Tereza Baráková
          li
            a(href="mailto:tereza.barakova@zlindesignweek.com")
              | tereza.barakova<wbr>@zlindesignweek<wbr>.com
          li +420 739 818 255

      .m-contact__group
        h1 Presskit
        a.o-button--outline(href="javascript:") Stáhnout (Zip 3,4 MB)

    .o-section--light
      .l-wrap
        .m-contact__foot
          h1 Máte nějaký dotaz nebo problém?
          p Pokud to vyložene nehoří, nechte nám zprávu na #[a(href="mailto:info@zlindesignweek.com") info@zlindesignweek.com]. Pokud ano, raději volejte na +420 776 343 310.

  +supporters(theme)

  +crossroad(theme)

  +foot(theme)

  +peek(null, theme)
