extends ../_templates/_site

append template-variables
  - var theme = "zdw"

block template-content
  +hud(theme)

  section.m-hero--half.m-hero-pseudo--both
    .m-hero__content
      h1.m-hero__title Seznam vystavujících

  section.l-wrap
    .m-speakers
      each item, index in [1, 2, 3, 4, 5, 6, 7, 8]
        a.m-speakers__item--large.o-person(href="event-detail.html")
          .o-person__thumbnail
            img.o-person__image(src="http://i.pravatar.cc/600?img=" + index * 10, alt="Portrait")
          .o-person__content
            strong.o-person__name: +dummy(2, "words")
            span.o-person__description: +dummy(5, "words")

  +crossroad(theme)

  +mail("full")

  +supporters(theme)

  +foot(theme)

  +peek(null, theme)
