extends ../_templates/_site

block template-content
  +hud("zdw")

  section.m-hero--full(style="background-image: url(/assets/images/bg_bid_1.jpg)")
    .m-hero__content
      h1.m-hero__title Zlin Design Week 2017
      p.m-hero__details
        strong.m-hero__date 24.&ndash;30. dubna 2017 
        span.m-hero__location Zlín, CZE
      a.m-hero__button.o-button--outline(href="program.html") Přejít na program

  main.o-section--white
    .l-wrap
      .m-article.l-table
        .l-table__cell
            h2.t-head--c Ročník 2017 a omezení
            a.m-article__link(href="about.html") Více o ZDW
        .l-table__cell
          p Zlin Design Week se vrací do města již po třetí. Znovu má v&nbsp;plánu oživit ulice, parky a&nbsp;veřejná prostranství designem, ukázat návštěvníkům současný design, jeho trendy nebo možná i&nbsp;něco úplně nového, neobvyklého. V neposlední řadě chce návštěvníky vzdělat, ale hlavně bavit.
          p Designem žijeme a&nbsp;my vám ho chceme přiblížit, jak nejvíc to jde. 
          p A&nbsp;není řeč jenom o výstavách. Zveme vás na Konferenci design &amp; marketing, kde budou mluvit ti nejpovolanější z&nbsp;obou oborů, na workshopy a&nbsp;přednášky a&nbsp;nakonec se dozvíme i&nbsp;výherce soutěže Best in Design, dříve známé jako Talent designu.
          p Po loňském tématu Prachy otevíráme téma další, tím je Omezení. Omezení v&nbsp;designu, omezení lidmi, zadáním, časem, materiálem, námi. Je jich spousta. Ale jsou vždy negativní?

      ul.m-cards
        each card in ["Výstavy", "Party", "Vepřo Knedlo Design"]
          li.m-cards__item
            a.m-cards__link(href="javascript:")
              .m-cards__block
                .m-cards__content
                  strong.m-cards__top= card

  +crossroad("zdw")

  +mail("full")

  +supporters

  +foot

  +peek("bg_bid_3.jpg", "zdw")
