extends ../_templates/_site

append template-variables
  - var theme = "zdw"

block template-content
  +hud(theme)

  section.m-hero--full(style="background-image: url(/assets/images/bg_hero_zdw_1.jpg)")
    .m-hero__content
      h1.m-hero__title Zlin Design Week 2017
      p.m-hero__details
        strong.m-hero__date 24.&ndash;30. dubna 2017 
        span.m-hero__location Zlín, CZE
      a.m-hero__button.o-button--outline(href="program.html") Přejít na program

  main.o-section--white
    .l-wrap
      .m-article
        .m-article__table
          .m-article__cell--flex
            h2.m-article__title Ročník 2017 a&nbsp;omezení
            a.m-article__link(href="about.html") Více o ZDW
          .m-article__cell
            p Zlin Design Week se vrací do města již po třetí. Znovu má v&nbsp;plánu oživit ulice, parky a&nbsp;veřejná prostranství designem, ukázat návštěvníkům současný design, jeho trendy nebo možná i&nbsp;něco úplně nového, neobvyklého. V neposlední řadě chce návštěvníky vzdělat, ale hlavně bavit.
            p Designem žijeme a&nbsp;my vám ho chceme přiblížit, jak nejvíc to jde. 
            p A&nbsp;není řeč jenom o výstavách. Zveme vás na Konferenci design &amp; marketing, kde budou mluvit ti nejpovolanější z&nbsp;obou oborů, na workshopy a&nbsp;přednášky a&nbsp;nakonec se dozvíme i&nbsp;výherce soutěže Best in Design, dříve známé jako Talent designu.
            p Po loňském tématu Prachy otevíráme téma další, tím je Omezení. Omezení v&nbsp;designu, omezení lidmi, zadáním, časem, materiálem, námi. Je jich spousta. Ale jsou vždy negativní?

      ul.m-cards
        each card in ["Výstavy", "Party", "Vepřo Knedlo Design"]
          li.m-cards__item
            a.m-cards__block--link(href="javascript:")
              .m-cards__top
                strong.m-cards__strong= card

      .m-teaser
        .m-teaser__item(style="background-image: url(/assets/images/bg_hero_conf_1.jpg)")
          .m-teaser__body
            h2.m-teaser__title Konference design &amp; marketing
            .m-teaser__content
              p Design-Značka-Příběh, Prachy a letos Omezení. To je téma unikátní konference, která proplétá obory design a marketing. Synergie těchto oborů je patrná, protože jeden bez druhého se obejít nemohou. A téma Omezení? Zveme opravdové špičky, zahraniční i české, které k němu mají co říct. A možná zjistíte, co je to jediné omezení, a jaká je to vlastně příležitost.
          a.m-teaser__link(href="javascript:") Přejít na stránku
        .m-teaser__item(style="background-image: url(/assets/images/bg_hero_bid_1.jpg)")
          .m-teaser__body
            h2.m-teaser__title Best in Design
            .m-teaser__content
              p Osmý ročník soutěže pro mladé designéry, která dříve nesla jméno Talent designu, hledá největší talenty mezi studenty a designéry po celém světě. Co nabízíme? Finanční obnos pro splnění snu a realizaci svého projektu, stáž v designovém studiu a uznání na poli designu. O držiteli titulu Best in Design 2017 rozhodne porota složená z odborníků, kteří už ve světě designu jméno mají.
            p Uzávěrka soutěže je 13. února 2017.
          a.m-teaser__link(href="javascript:") Přejít na stránku

  +mail("full")

  +supporters("full")

  +foot(theme)

  +peek(null, theme)
