extends ../_templates/_site

append template-variables
  -
    var eventArray = [
      {
        "title": "Kreativní dílna s Nenudou",
        "image": "Oi_Utj7dKZg",
        "info": {
          "what": "Workshop",
          "when": "26. 4. 08:30",
          "where": "Lighthouse KOMA, parkoviště u 34. budovy Svitu"
        }
      },
      {
        "title": "Konference Design & marketing",
        "image": "0WQOCx1g8hw",
        "info": {
          "what": "Konference",
          "when": "26. 4. 09:30",
          "where": "Městské divadlo Zlín"
        }
      },
      {
        "title": "Zlin Design Week party",
        "image": "TBVsc-XxnUw",
        "info": {
          "what": "Party",
          "when": "26. 4. 21:00",
          "where": "Blok 12"
        }
      },
      {
        "title": "Jarní kino",
        "image": "-NNyXVQH9Ho",
        "info": {
          "what": "Doprovodný program",
          "when": "28. 4. 20:30",
          "where": "Park Komenského"
        }
      },
      {
        "title": "Kreativní dílna",
        "image": "F9o7u-CnDJk",
        "info": {
          "what": "Workshop",
          "when": "29. 4. 15:00",
          "where": "64. budova Svitu"
        }
      }
    ]

block template-content
  +hud("zdw")

  section.m-hero--half
    .m-hero__content
      h1.t-head--a Program

  section.l-wrap
    ul.o-filter
      each instance, index in ["Vše", "Výstavy", "Vepřo Knedlo Design", "Party", "Konference", "Best in Design"]
        li.o-filter__item
          if index == 0
            mark.o-filter__active= instance
          else
            a.o-filter__link(href="javascript:")= instance

    .o-map
      .o-map__viewport
        include ../_partials/_google-maps.html
      button.o-map__button(data-toggle="map") Zobrazit mapu

    .m-events
      each day in ["Monday", "Tuesday", "Wednesday"]
        .m-events__section
          h1.m-events__title= day
          .m-events__list
            - var groupCount = Math.ceil(Math.random() * 4) + 1
            - var i = 0
            while groupCount > i
              - var randomIndex = Math.round(Math.random() * 4)
              +mediaItem("event-detail.html", eventArray[randomIndex])
              - groupCount--

  +crossroad("zdw")

  +mail("full")

  +supporters

  +foot

  +peek("bg_bid_3.jpg", "zlindesignweek")
