extends ../_templates/_site

append template-variables
  - var theme = "zdw"
  -
    var eventArray = [
      {
        "title": "Kreativní dílna s Nenudou",
        "image": "Oi_Utj7dKZg",
        "info": {
          "what": "Workshop",
          "when": "26. 4. 08:30",
          "where": "Lighthouse KOMA, parkoviště u 34. budovy Svitu"
        }
      },
      {
        "title": "Konference design & marketing",
        "image": "0WQOCx1g8hw",
        "info": {
          "what": "Konference",
          "when": "26. 4. 09:30",
          "where": "Městské divadlo Zlín"
        }
      },
      {
        "title": "Zlin Design Week party",
        "image": "TBVsc-XxnUw",
        "info": {
          "what": "Party",
          "when": "26. 4. 21:00",
          "where": "Blok 12"
        }
      },
      {
        "title": "Jarní kino",
        "image": "-NNyXVQH9Ho",
        "info": {
          "what": "Doprovodný program",
          "when": "27. 4. 20:30",
          "where": "Park Komenského"
        }
      },
      {
        "title": "Kreativní dílna",
        "image": "F9o7u-CnDJk",
        "info": {
          "what": "Workshop",
          "when": "28. 4. 15:00",
          "where": "64. budova Svitu"
        }
      }
    ]

block template-content
  +hud(theme)

  section.m-hero--half.m-hero-pseudo--both
    .m-hero__content
      h1.m-hero__title Program

  section.l-wrap
    ul.o-filter
      each instance, index in ["Vše", "Výstavy", "Vepřo Knedlo Design", "Party", "Konference", "Best in Design", "Ostatní"]
        li.o-filter__item
          if index == 0
            mark.o-filter__active= instance
          else
            a.o-filter__link(href="javascript:")= instance

    .o-map--large
      #js-map.o-map__viewport
      button.o-map__button(data-toggle="map") Zobrazit mapu

    .m-program
      each day in ["21.&thinsp;04.&emsp;Pátek", "22.&thinsp;04.&emsp;Sobota", "23.&thinsp;04.&emsp;Neděle"]
        .m-program__section
          h1.m-program__title!= day
          .m-program__list
            - var groupCount = Math.ceil(Math.random() * 6) + 1
            - var i = 0
            while groupCount > i
              - var randomIndex = Math.round(Math.random() * 4)
              +mediaItem("m-program__item", "event-detail.html", eventArray[randomIndex])
              - groupCount--

  +crossroad(theme)

  +mail("full")

  +supporters(theme)

  +foot(theme)

  +peek(null, theme)
