.m-application {
  max-width: 40em;

  counter-reset: form-count;
}

.m-application__title {
  text-align: center;

  margin-top: 2em;

  &:before {
    position: absolute;
    left: 2em;

    content: counter(form-count);
    counter-increment: form-count;
  }
}

.m-application__row {
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.m-application__note {
  display: block;
  margin-top: 1em;
  
  font-weight: $font__sans--regular;
}

.m-application__foot {
  text-align: center;

  margin-top: 5em;
}

.m-application__cancel {
  margin-left: 1em;
}

.m-application__numbering {
  display: inline-block;

  width: em(40);
}

.m-application__disclaimer {
  display: block;

  color: currentColor;
  background-color: transparent;

  margin-bottom: 2em;

  text-align: center;
}
