.m-apply {
  color: white;
  background-color: $grey--100;

  @include fixed-background;

  @include media($dr__large) {
    padding-bottom: 1.5em;
  }
}

.m-apply__content {
  max-width: 35em;

  @include margin(null auto);
}

.m-apply__button {
  display: block;

  margin-top: 1.5em;

  padding: .75em 1.5em;

  border: 2px solid;

  font-weight: $font__sans--semibold;

  @include link--white;

  @include media($dr__large) {
    font-size: 2.25em;

    border-width: 4px;
  }
}

.m-apply__arrow {
  float: right;
}
