.m-application {
  max-width: 40em;

  counter-reset: form-count;
}

.m-application__title {
  text-align: center;

  margin-top: 2em;

  &:before {
    float: left;

    margin-right: .5em;

    content: counter(form-count);
    counter-increment: form-count;

    @include media($dr__large) {
      position: absolute;
      left: 2em;
      left: 1em;
    }
  }
}

.m-application__row {
  &:not(:last-child) {
    margin-bottom: 1em;

    @include media($dr__large) {
      margin-bottom: 2em;
    }
  }
}

.m-application__note {
  display: block;
  margin-top: 1em;
  
  font-weight: $font__sans--regular;
}

.m-application__foot {
  text-align: center;

  margin-top: 5em;
}

.m-application__cancel {
  margin-top: 1em;
}

.m-application__numbering {
  display: inline-block;

  width: em(40);
}
