.m-article {
  a {
    border-bottom: 1px solid;
  }
}

.m-article__head {
  @include reset-children;

  text-align: center;

  margin-bottom: 3em;
}

.m-article__title {
  @include head--b;

  margin-bottom: 0;
}

.m-article__intro {
  @include margin(null auto);

  max-width: 45em;
}

.m-article__columns {
  column-width: 14em;
  column-count: 2;
  column-gap: 3em;

  @include reset-children;
}

.m-article__runin {
  margin-top: 1em;

  @include head--d;
}

.m-article__foot {
  text-align: center;
}

.m-article__table {
  @include media($dr__large) {
    display: flex;
    flex-wrap: wrap;

    margin: -.75em;
  }
}

[class^="m-article__cell"],
[class*=" m-article__cell"] {
  flex-basis: 0;
  flex-grow: 1;

  @include reset-children;

  @include media($dr__small) {
    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }

  @include media($dr__large) {
    margin: .75em;
  }
}

.m-article__cell--flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.m-article__link {
  display: inline-block;

  margin-top: 2em;
}
