.m-article {
  a {
    border-bottom: 1px solid;
  }
}

.m-article__head {
  @include reset-children;

  text-align: center;

  margin-bottom: 3em;
}

.m-article__title {
  @include head--c;

  margin-bottom: 0;
}

.m-article__link {
  @include media($dr__large) {
    position: absolute;

    bottom: 0;
  }
}

.m-article__intro {
  @include margin(null auto);

  max-width: 45em;
}

.m-article__columns {
  column-width: 14em;
  column-count: 2;
  column-gap: 3em;

  @include reset-children;
}

.m-article__runin {
  margin-top: 1em;

  @include head--d;
}

.m-article__foot {
  text-align: center;
}
