.m-carousel {
  /* Fix linear-gradient position before init */
  position: relative;

  text-align: center;

  @include wrap-padding(bottom)
}

.m-carousel__list {

  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;

    width: 3.5em;

    content: "";
    pointer-events: none;
  }

  &:before {
    left: 0;
    background-image: linear-gradient(to right, black, rgba(black, 0));
  }

  &:after {
    right: 0;
    background-image: linear-gradient(to left, black, rgba(black, 0));
  }

  @include media($dr__large) {
    &:before,
    &:after {
      width: 10em;
    }
  }
}

.m-carousel__item {
  width: em(200);
  box-sizing: content-box;

  @include margin(null .5em);

  @include media($dr__large) {
    width: em(300);

    @include margin(null 1em);

    &:first-child {
      padding-left: 10em;
    }
    &:last-child {
      padding-right: 10em;
    }
  }
}

.m-carousel__link {
  display: block;

  text-decoration: none;

  @include link--white;
}

[class^="m-carousel__thumbnail--"],
[class*=" m-carousel__thumbnail--"] {
  position: relative;

  padding-bottom: 62%;

  overflow: hidden;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;

    color: white;

    transform: translate(-50%, -50%);
    
    transition: opacity $duration--s;
  }

  .device--is-desktop &:after {
    opacity: 0;
  }
  .m-carousel__link:hover &:after,
  .m-carousel__link:active &:after {
    opacity: 1;
  }
}

.m-carousel__thumbnail--video {
  &:after {
    content: "";

    @include triangle(3em 2em, white, right);
  }
}

.m-carousel__thumbnail--photo {
  &:after {
    content: "+";

    font-weight: $font__sans--bold;
    font-size: 5em;
  }
}

.m-carousel__image {
  position: absolute;
  top: 0;
  left: 0;
}

.m-carousel__content {
  @include padding(null .5em);

  @include media($dr__small) {
    opacity: 0;
    
    transition: opacity $duration--b;

    .is-selected & {
      opacity: 1;
    }
  }

}

.m-carousel__title {
  margin-top: 1.25em;

  margin-bottom: .5em;
}

.m-carousel__strong {
  font-weight: $font__sans--regular;
  
  @include media($dr__small) {
    font-size: em(12);
  }
}
