.m-cards {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
  padding-left: 0;

  margin: 1.5em -.5em -.5em;

  @include media($dr__large) {
    margin-top: 2.5em;
  }
}

.m-cards__item {
  flex: 1 0 $block--s;

  margin: .5em;
}

[class^="m-cards__block--"],
[class*=" m-cards__block--"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  padding: 1.5em;
}

.m-cards__block--link {
  padding-bottom: 15%;

  &:link,
  &:visited {
    color: black;
    background-color: $grey--900;
  }
  &:hover,
  &:active {
    color: white;
    background-color: black;
  }
}

.m-cards__block--static {
  color: white;
  background-color: black;
}

.m-cards__top {
  @include head--f;
}

.m-cards__strong {
  font-weight: $font__mono--regular;

  .m-cards__block--link:hover & {
    border-bottom: 1px solid;
  }
}

.m-cards__bottom {
  display: block;

  margin-top: 2em;

  font-size: .875em;
}
