.m-cards {
  display: flex;

  list-style-type: none;
  padding-left: 0;

  margin-top: 3em;
  margin-left: -.75em;
  margin-right: -.75em;
}

.m-cards__item {
  flex-grow: 1;
  flex-basis: 0;

  margin-left: .75em;
  margin-right: .75em;
}

[class^="m-cards__block--"],
[class*=" m-cards__block--"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  padding: 1.5em;
}

.m-cards__block--link {
  padding-bottom: 20%;

  &:link,
  &:visited {
    color: black;
    background-color: $grey--900;
  }
  &:hover,
  &:active {
    color: white;
    background-color: black;
  }
}

.m-cards__block--static {
  color: white;
  background-color: black;
}

.m-cards__top {
  @include head--f;
}

.m-cards__strong {
  font-weight: $font__mono--regular;

  .m-cards__block--link:hover & {
    border-bottom: 1px solid;
  }
}

.m-cards__bottom {
  display: block;

  margin-top: 2em;

  font-size: .875em;
}
