.m-carousel {
  position: relative; // Fix linear-gradient position before init.

  padding-bottom: 4em;

  text-align: center;
}

.m-carousel__list {

  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;

    width: 10em;

    content: "";
    pointer-events: none;
  }

  &:before {
    left: 0;
    background-image: linear-gradient(to right, black, transparent);
  }

  &:after {
    right: 0;
    background-image: linear-gradient(to left, black, transparent);
  }
}

.m-carousel__item {
  width: em(300);
  box-sizing: content-box;

  @include margin(null 1em);

  &:first-child {
    padding-left: 10em;
  }
  &:last-child {
    padding-right: 10em;
  }
}

.m-carousel__link {
  display: block;

  text-decoration: none;

  @include link--white;
}

[class^="m-carousel__thumbnail--"],
[class*=" m-carousel__thumbnail--"]
.m-carousel__thumbnail {
  position: relative;

  padding-bottom: 62%;

  overflow: hidden;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;

    color: white;

    opacity: 0;

    transform: translate(-50%, -50%);
    
    transition: opacity $duration--s;
  }
  .m-carousel__link:hover &:after,
  .m-carousel__link:active &:after {
    opacity: 1;
  }
}

.m-carousel__thumbnail--video {
  &:after {
    content: "";

    @include triangle(3em 2em, white, right);
  }
}

.m-carousel__thumbnail--photo {
  &:after {
    content: "+";

    font-weight: $font__sans--bold;
    font-size: 5em;
  }
}

.m-carousel__image {
  position: absolute;
  top: 0;
  left: 0;
}

.m-carousel__strong {
  font-weight: $font__sans--regular;
}
