.m-contact {
  a {
    border-bottom: 1px solid;
  }

  h1 {
    @include head--b;
  }

  ul {
    @include a-nolist;
  }

  strong {
    @include a-bold;
  }
}

.m-contact__foot {
  text-align: center;

  margin-top: 2em;
}
