.m-contact {
  p a,
  ul a {
    border-bottom: 1px solid;
  }

  h1 {
    @include head--b;
  }

  ul {
    @include a-nolist;
  }

  strong {
    @include a-bold;
  }
}

.m-contact__group {
  &:not(:first-child) {
    margin-top: 2em;
  }
}

.m-contact__foot {
  text-align: center;

  max-width: 40em;

  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}
