.m-event {
  ul {
    @include a-nolist;
  }

  h2 {
    @include head--c;
  }
  h3 {
    @include head--e;
  }

  time {
    font-family: $font__mono;

    margin-right: .5em;
  }

  @include media($dr__large) {
    display: table;
    width: 100%;
  }
}

.m-event__main {
  @include reset-children;

  @include media($dr__large) {
    display: table-cell;
    vertical-align: top;

    padding-right: 2em;
  }
}

.m-event__aside {
  @include media($dr__small) {
    margin-top: 1.5em;
  }

  @include media($dr__large) {
    display: table-cell;
    vertical-align: top;

    width: 33.333%;
  }
}
