$form--narrow: 40em;
$form--wide:   60em;

.m-form {
  counter-reset: form-count;
}

[class^="m-form__section"],
[class*=" m-form__section"] { 
  margin-left: auto;
  margin-right: auto;
}

.m-form__section--narrow {
  max-width: $form--narrow;
}

.m-form__section--wide {
  max-width: $form--wide;
}

.m-form__title {
  @include head--b;
  text-align: center;

  margin-top: 2em;

  &:before {
    float: left;

    margin-right: .5em;

    content: counter(form-count);
    counter-increment: form-count;

    @include media($dr__large) {
      position: absolute;
      left: 2em;
      left: 1em;
    }
  }
}

.m-form__row {
  &:not(:last-child) {
    margin-bottom: 1em;

    @include media($dr__large) {
      margin-bottom: 1.5em;
    }
  }
}

.m-form__note {
  display: block;
  margin-top: 1em;
  
  font-weight: $font__sans--regular;
}

.m-form__foot {
  max-width: $form--narrow;

  text-align: center;

  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.m-form__cancel {
  margin-top: 1em;
}

.m-form__numbering {
  display: inline-block;

  width: em(40);
}

.m-form__outro {
  font-weight: $font__sans--regular;

  a {
    border-bottom: 1px solid;
  }
}

.m-form__choice-list {
  display: flex;
  flex-wrap: wrap;

  margin: -.5em -.75em 2.5em;
}

.m-form__choice {
  flex: 1 0 $block--l;

  margin: .5em .75em;
}

.m-form__table {
  font-size: 1.125em;

  white-space: nowrap;
}

[class^="m-form__trow"],
[class*=" m-form__trow"] {
  @include media($dr__portable) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.m-form__trow--foot {
  border-top: 2px solid;

  padding-top: 1.25em;
  margin-top: 1.25em;

  font-weight: $font__sans--semibold;
}

[class^="m-form__tcell"],
[class*=" m-form__tcell"] {
  @include media($dr__portable) {
    flex-basis: 4em;
  }

  margin: .25em .5em;
}

.m-form__tcell--count {
  @include media($dr__portable) {
    text-align: right;
  }
}

.m-form__stepper {
  margin-left: .5em;
}

.m-form__group {
  &-name {
    margin-bottom: .75em;

    font-size: 1.125em;
    font-family: $font__mono;
  }

  &-index {
    font-weight: $font__mono--bold;

    @include media($bp__phone) {
      display: block;
    }
  }

  &-list {
    display: flex;

    @include media($dr__small) {
      flex-wrap: wrap;
    }

    margin: -.5em -.75em;
  }

  &-item {
    margin: .5em .75em;
  }
}
