[class^="m-hero--"] {
  position: relative;

  display: flex;

  color: white;
  background-color: black;

  overflow: hidden;

  @include fixed-background;
}

.m-hero--full {
  min-height: 100vh;

  align-items: flex-end;

  @include media($dr__large) {
    min-height: 100vmin;
  }
}

.m-hero--half {
  min-height: 75vh;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  @include media($dr__large) {
    min-height: 50vmin;
  }
}

.m-hero__content {
  @include reset-children;
  @include wrap-padding;

  margin-top: 4.25em; // Reserved space for o-hud

  .m-hero--full & {
    max-width: 42.5em;
  }
}

.m-hero__text {
  margin-bottom: 1.5em;

  @include media($bp__desktop) {
    margin-bottom: 3em;
  }
}

.m-hero__button {
  @include link--white;
}

.m-hero__pin {
  @include media($dr__large) {
    position: absolute;
    bottom: 0;
  }
}
