[class^="m-hero--"],
[class*=" m-hero--"] {
  position: relative;

  display: flex;
  flex-direction: column;

  color: white;
  background-color: black;

  overflow: hidden;

  @include fixed-background;
}

.m-hero--full {
  min-height: 100vh;

  justify-content: flex-end;

  @include media($dr__large) {
    min-height: 100vmin;
  }
}

.m-hero--half {
  min-height: 75vh;

  justify-content: space-between;

  @include media($dr__large) {
    min-height: 50vmin;
  }
}

// Create pseudo-elements to align content using display: flex
.m-hero-pseudo--top {
  &:before {
    content: "";
  }
}

.m-hero-pseudo--both {
  &:before,
  &:after {
    content: "";
  }
}

.m-hero__content {
  @include reset-children;
  @include wrap-padding;

  margin-top: 6em; // Reserved space for o-hud

  .m-hero--full & {
    max-width: 25em;

    @include media($dr__large) {
      max-width: 43em;
    }
  }

  .m-hero--half & {
    text-align: center;
  }
}

.m-hero__title {
  @include head--a;

  .m-hero--half & {
    margin-bottom: .25em;
  }
}

.m-hero__text {
  margin-bottom: 1.5em;

  @include media($bp__desktop) {
    margin-bottom: 2.5em;
  }
}

.m-hero__button {
  @include link--white;

  .m-hero--half & {
    margin-top: 1em;
  }
}

.m-hero__pin {
  text-align: center;
}

.m-hero__details {
  @include head--e;
}

.m-hero__date {
  display: block;

  font-weight: $font__mono--regular;
}
