[class^="m-hero--"] {
  position: relative;

  display: flex;

  min-height: 100vmin;

  color: white;
  background-color: black;

  @include fixed-background;
}

.m-hero--full {
  min-height: 100vmin;

  align-items: flex-end;
}

.m-hero--half {
  min-height: 50vmin;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.m-hero__content {
  @include reset-children;

  margin-top: 5em; // Reserved space for o-hud
  padding: 3em;

  .m-hero--full & {
    max-width: 40em;
  }
}

.m-hero__text {
  margin-bottom: 3em;
}

.m-hero__button {
  @include link--white;
}

.m-hero__stickers {
  position: absolute;
  bottom: 15%;
  right: 10%;
}

.m-hero__pin {
  position: absolute;
  bottom: 0;
}
