.m-hilite__title {
  text-align: center;
}

.m-hilite__content {
  @include clearfix;
}

.m-hilite__image {
  @include margin(null auto 1em);

  @include media($dr__large) {
    float: left;

    max-width: 40%;
    margin-right: 2em;
  }
}

.m-hilite__info {
  overflow: auto;

  @include reset-children;
}

.m-hilite__list {
  margin-top: 3em;
}
