.m-mail {
  color: white;
  background-color: $grey--100;
}

.m-mail__wrap {
  max-width: 50em;
}

.m-mail__title {
  margin-top: 0;

  text-align: center;
}

.m-mail__form {
  @include margin(2em auto null);

  @include media($dr__large) {
    display: flex;
  }
}

.m-mail__input {
  @include media($dr__small) {
    text-align: center;
  }
}

.m-mail__submit {
  @include media($dr__small) {
    margin-top: -2px;
  }

  @include media($dr__large) {
    min-width: em(300);

    margin-left: -2px;
  }
}
