.m-mail {
  color: white;
  background-color: $grey--100;

  text-align: center;
}

.m-mail__wrap {
  max-width: 50em;
}

.m-mail__title {
  @include head--e;
}

.m-mail__content {
  margin-left: auto;
  margin-right: auto;

  max-width: 35em;
}

.m-mail__form {
  @include margin(2em auto null);

  @include media($dr__large) {
    display: flex;
  }
}

.m-mail__input {
  @include media($dr__small) {
    text-align: center;
  }
}

.m-mail__submit {
  @include media($dr__small) {
    margin-top: -2px;
  }

  @include media($dr__large) {
    min-width: em(300);

    margin-left: -2px;
  }
}

.m-mail__foot {
  margin-top: 2em;

  @include media($dr__large) {
    margin-top: 4em;
  }
}

.m-mail__link {
  border-bottom: 1px solid currentColor;

  @include link--white;
}
