.m-mail {
  color: white;
  background-color: $grey--100;
}

.m-mail__wrap {
  max-width: 50em;
}

.m-mail__title {
  margin-top: 0;

  text-align: center;
}

.m-mail__form {
  display: flex;

  @include margin(2em auto null);
}

.m-mail__submit {
  min-width: em(300);

  margin-left: -2px;
}
