.m-prizes {
  text-align: center;
}

.m-prizes__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  @include margin(null -1em);
}

.m-prizes__block {
  position: relative;
  flex-grow: 1;

  min-width: 16.5em;
  max-width: 28em;

  margin: 1em;
}

.m-prizes__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include margin(0 -.75em);
  padding-left: 0;
  list-style-type: none;

  counter-reset: prizes-count;

  font-family: $font__mono;

  &:before,
  &:after {
    font-size: 3.5em;
    line-height: 1;
  }

  &:before {
    content: "(";
    order: 0;
  }
  &:after {
    content: ")";
    order: 5;
  }

  @include media($bp__desktop) {
    &:before,
    &:after {
      font-size: 6.5em;
    }
  }
}

.m-prizes__item {
  line-height: $leading--s;

  &:before {
    display: block;

    content: counter(prizes-count);
    counter-increment: prizes-count;

    font-size: 2.25em;
    font-weight: $font__mono--bold;
  }
  &:first-child {
    order: 1;
  }
  &:last-child {
    order: 3;
  }
}

.m-prizes__note {
  display: block;
  margin-top: .5em;
  
  font-weight: $font__sans--regular;
}
