.m-program {
  margin-top: 4em;
}

.m-program__title {
  @include head--b;
}

.m-program__section {
  &:not(:first-child) {
    margin-top: 3em;
  }
}

.m-program__list {
  @include clearfix;

  margin-top: -2em;
  margin-left: -1em;
  margin-right: -1em;
}

.m-program__item {
  float: left;

  width: 33.333%;

  &:nth-child(3n + 1) {
    clear: both;
  }
}
