.m-program {
  margin-top: 4em;
}

.m-program__title {
  @include head--b;
}

.m-program__section {
  &:not(:first-child) {
    margin-top: 3em;
  }
}

.m-program__list {
  display: flex;
  flex-wrap: wrap;

  margin-top: -.5em;
  margin-left: -1em;
  margin-right: -1em;

  @include media($dr__large) {
    margin-top: -1.5em;
  }
}

.m-program__item {
  display: block;

  flex-basis: 0;
  flex-grow: 1;

  min-width: 16.5em;

  @include media($dr__large) {
    max-width: 50%;
  }
}
