.m-prizes {
  text-align: center;
}

.m-prizes__container {
  display: table;
  width: 100%;

  margin-top: 4em;
}

.m-prizes__block {
  position: relative;

  display: table-cell;
  width: 50%;

  vertical-align: middle;
}

.m-prizes__list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include margin(0 null);
  padding-left: 0;
  list-style-type: none;

  counter-reset: prizes-count;

  font-family: $font__mono;

  &:before,
  &:after {
    font-size: 7em;
    line-height: 1;
  }

  &:before {
    content: "(";
    order: 0;
  }
  &:after {
    content: ")";
    order: 5;
  }
}

.m-prizes__item {
  &:before {
    display: block;

    content: counter(prizes-count);
    counter-increment: prizes-count;

    font-size: em(36);
    font-weight: $font__mono--bold;
  }
  &:first-child {
    order: 1;
  }
  &:last-child {
    order: 3;
  }
}

.m-prizes__caps {
  @include margin(0 null);
}

.m-prizes__note {
  display: block;
  margin-top: 1em;
  
  font-weight: $font__sans--regular;
}

[class^="m-prizes__fern"] {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.m-prizes__fern--left {
  left: .5em;
}
.m-prizes__fern--right {
  right: .5em;
}
