.m-related__title {
  @include head--e;
}

.m-related__list {
  margin-top: -1.5em;
  margin-left: -1em;
  margin-right: -1em;

  @include clearfix;
}

.m-related__item {
  display: block;

  @include media($dr__portable) {
    float: left;
  }

  @include media($bp__phablet) {
    width: 50%;

    &:nth-child(2n + 1) {
      clear: left;
    }
  }

  @include media($dr__large) {
    width: 25%;
  }
}
