.m-related__title {
  @include head--e;
}

.m-related__list {
  display: flex;
  flex-wrap: wrap;

  margin-top: -1.5em;
  margin-left: -1em;
  margin-right: -1em;
}

.m-related__item {
  display: block;

  flex-basis: 0;
  flex-grow: 1;

  @include media($dr__small) {
    min-width: $block--l;
  }
}
