.m-related__title {
  @include head--e;
}

.m-related__list {
  @include clearfix;

  margin-top: -2em;
  margin-left: -1em;
  margin-right: -1em
}

.m-related__item {
  float: left;

  width: 25%;
}
