.m-speakers {
  @include clearfix;

  margin-top: 1em;
  margin-left: -1em;
  margin-right: -1em;

  .onoff--schedule & {
    display: none;
  }
}

[class^="m-speakers__item"],
[class*=" m-speakers__item"] {
  display: block;

  @include media($dr__portable) {
    float: left;
  }

  @include media($bp__phablet) {
    width: 50%;

    &:nth-child(2n + 1) {
      clear: both;
    }
  }
}

.m-speakers__item--large {
  @include media($dr__large) {
    width: 33.333%;

    &:nth-child(3n + 1) {
      clear: both;
    }
  }
}

.m-speakers__item--small {
  @include media($dr__large) {
    width: 25%;

    &:nth-child(4n + 1) {
      clear: both;
    }
  }
}
