.m-speakers {
  @include clearfix;

  margin-top: 1em;
  margin-left: -1em;
  margin-right: -1em;

  .onoff--schedule & {
    display: none;
  }
}

.m-speakers__item {
  float: left;

  width: 33.333%;

  &:nth-child(3n + 1) {
    clear: both;
  }
}
