.m-stickers {
  color: white;

  @include media($dr__small) {
    @include clearfix;

    background-color: black;

    padding: 2.5em 2em;
  }

  @include media($dr__large) {
    position: absolute;

    right: 15%;
  }

  @include media($bp__tablet) {
    top: 12.5%;
  }

  @include media($bp__desktop) {
    top: 25%;
  }
}

.m-stickers__second {
  @include media($dr__small) {
    float: right;
  }
}
