.m-tickets__title {
  text-align: center;
  @include head--b;

  margin-bottom: 1.5em;
}

.m-tickets__list {
  @include clearfix;

  @include margin(null -.5em);
}

.m-tickets__item {
  float: left;

  width: 50%;

  @include padding(null .5em);
}
