.m-tickets__title {
  text-align: center;
  @include head--b;

  margin-bottom: 1.5em;
}

.m-tickets__list {
  @include clearfix;

  margin: -.5em;

  @include media($bp__desktop) {
    display: flex;
  }
}

.m-tickets__item {
  padding: .5em;

  @include media($bp__desktop) {
    flex-grow: 1;
  }
}
