.m-xroad {
  display: table;
  width: 100%;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.m-xroad__link {
  display: table-cell;
  width: 50%;

  padding: 3em 2em;

  font-size: 2em;
  text-align: center;


  &:link, &:visited {
    color: white;
  }
}

.m-xroad__arrow--left {
  float: left;
}

.m-xroad__arrow--right {
  float: right;
}
