.m-xroad {
  @include fixed-background;

  @include media($dr__large) {
    display: table;

    width: 100%;
  }
}

.m-xroad__link {
  position: relative;

  display: block;

  padding: 1.5em 1.75em;

  font-size: 1.5em;
  text-align: center;

  &:link, &:visited {
    color: white;
  }
  &:hover, &:active {
    background-color: rgba(black, .25);
  }

  @include media($dr__small) {
    &:first-child {
      padding-bottom: .5em;
    }
    &:last-child {
      padding-top: .5em;
    }
  }

  @include media($dr__large) {
    display: table-cell;

    width: 50%;

    &:first-child {
      padding-right: .5em;
    }
    &:last-child {
      padding-left: .5em;
    }
  }

  @include media($bp__desktop) {
    font-size: 2.25em;
  }
}

[class^="m-xroad__arrow"] {
  transition: transform $duration--s;
  
  position: absolute;
}

.m-xroad__arrow--left {
  left: 1em;

  .m-xroad__link:hover &,
  .m-xoard__link:active & {
    transform: translateX(-.5em);
  }
}

.m-xroad__arrow--right {
  right: 1em;

  .m-xroad__link:hover &,
  .m-xoard__link:active & {
    transform: translateX(.5em);
  }
}
