.m-xroad {
  display: table;
  width: 100%;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.m-xroad__link {
  display: table-cell;
  width: 50%;

  padding: 3em 2em;

  font-size: em(36);
  text-align: center;

  &:link, &:visited {
    color: white;
  }
  &:hover, &:active {
    background-color: rgba(black, .25);
  }
}

[class^="m-xroad__arrow"] {
  transition: transform $duration--s;
}

.m-xroad__arrow--left {
  float: left;

  .m-xroad__link:hover &,
  .m-xoard__link:active & {
    transform: translateX(-.5em);
  }
}

.m-xroad__arrow--right {
  float: right;

  .m-xroad__link:hover &,
  .m-xoard__link:active & {
    transform: translateX(.5em);
  }
}
