.m-history__image {
  background-image: url("../images/responsive/bg_history_640.jpg");
  
  @include media($dr__medium) {
    background-image: url("../images/responsive/bg_history_1613.jpg");
  }

  @include media($dr__large) {
    background-image: url("../images/responsive/bg_history_2283.jpg");
  }
}

.m-supporters {
  text-align: center;
}

.m-supporters__title {
  @include media($dr__large) {
    margin-bottom: 1.5em;
  }
}

.m-countdown {
  text-align: center;
}

.m-categories {
  @include media($dr__large) {
    margin-top: 2em;
  }
}

.m-categories__icon {
  display: block;

  font-family: $font__mono;
  font-size: 3.5em;

  line-height: 1;
}

.m-stickers {
  display: none;
}

.m-intro-sticker {
  position: absolute;

  right: 10%;

  @include media($dr__mobile) {
    transform: scale(.5);
    transform-origin: right top;

    top: 10%;
  }

  @include media($bp__desktop) {
    top: 30%;
  }
}

.m-events {
  margin-top: 4em;
}

.m-events__title {
  @include head--b;
}

.m-events__section {
  &:not(:first-child) {
    margin-top: 3em;
  }
}

.m-events__list {
  @include clearfix;

  margin-top: -2em;
  margin-left: -1em;
  margin-right: -1em;
}

.m-events__item {
  float: left;

  width: 33.333%;
}

.m-related__title {
  @include head--e;
}

.m-related__list {
  @include clearfix;

  margin-top: -2em;
  margin-left: -1em;
  margin-right: -1em
}

.m-related__item {
  float: left;

  width: 25%;
}
