.m-history__image {
  background-image: url("../images/responsive/bg_history_640.jpg");
  
  @include media($dr__medium) {
    background-image: url("../images/responsive/bg_history_1613.jpg");
  }

  @include media($dr__large) {
    background-image: url("../images/responsive/bg_history_2283.jpg");
  }
}

.m-supporters {
  text-align: center;
}

.m-supporters__title {
  @include media($dr__large) {
    margin-bottom: 1.5em;
  }
}

.m-countdown {
  text-align: center;
}

.m-categories {
  margin-top: 2em;
}

.m-categories__icon {
  display: block;

  width: 4em;
  height: 4em;

  border: 4px solid black;
  border-radius: 50%;

  @include margin(null auto 2em);
}
