.m-history__image {
  background-image: url("../images/responsive/bg_history_640.jpg");
  
  @include media($dr__medium) {
    background-image: url("../images/responsive/bg_history_1613.jpg");
  }

  @include media($dr__large) {
    background-image: url("../images/responsive/bg_history_2283.jpg");
  }
}

.m-supporters {
  text-align: center;
}

.m-supporters__title {
  @include media($dr__large) {
    margin-bottom: 1.5em;
  }
}

.m-countdown {
  text-align: center;
}

.m-categories {
  @include media($dr__large) {
    margin-top: 2em;
  }
}

.m-categories__icon {
  display: block;

  font-family: $font__mono;
  font-size: 3.5em;

  line-height: 1;
}

.m-stickers {
  display: none;
}
