extends templates/_site

block template-content
  +hud

  section.m-hero--half(style="background-image: url(assets/images/bg_1.jpg)")
    .m-hero__content
      h1.t-head--a O soutěži
      a.m-hero__button.o-button--outline(href="https://www.facebook.com/talentdesignu/videos/910960188957580/?theater") Přehrát video

  main.m-part
    .l-wrap
      ul.o-flexlist
        li.o-flexlist__item--tri
          mark.o-flexlist__emphasis 10 000 €
          |  jsme rozdali
        li.o-flexlist__item--tri
          mark.o-flexlist__emphasis 1 320 prací
          |  bylo zasláno
        li.o-flexlist__item--tri
          mark.o-flexlist__emphasis 620 návštěvníků
          |  se zúčastnilo galavečeru

      .m-part__text
        p Do sedmého ročníku Talent designu 2016 se přihlásilo celkem 1 320 prací. Počet přihlášek se oproti předchozímu ročníku zdvojnásobil, což svědčí o&nbsp;vzrůstající oblibě soutěže v&nbsp;tuzemsku i&nbsp;ve světě. Soutěžní práce k&nbsp;nám totiž chodí nejen z&nbsp;Maďarska, Bulharska, Itálie, Španělska, Dánska, Polska, Slovenska, ale i&nbsp;ze Singapuru, Jižní Koreje, Íránu, USA, Indie či Brazílie. Slavnostní galavečer a&nbsp;vyhlášení vítězů Talent designu 2016 proběhl 29. dubna v Kongresovém centru ve Zlíně. Nyní už ale hledáme ty nejlepší talenty s&nbsp;novým názvem soutěže Best in Design!

  section.m-carousel.o-section--black
    .m-carousel__header.l-wrap
      h1.t-head--c Medailonky vítězů
    .m-carousel__list(data-carousel)
      each item in winners
        .m-carousel__item
          a.m-carousel__link(href=item.link)
            .m-carousel__thumbnail
              img.m-carousel__image(src="assets/images/" + item.thumbnail, alt=item.title)
            h2.m-carousel__title.t-head--d
              | Video: 
              = item.title
            strong.m-carousel__strong
              | Talent designu 
              = item.year

  +intro

  +prizes

  +short-history

  +apply-form

  +supporters

  +crossroad

  +foot
