extends templates/_site

block template-content
  +hud

  section.m-hero--half(style="background-image: url(assets/images/bg_1.jpg)")
    .m-hero__content
      h1.t-head--a O soutěži
      a.m-hero__button.o-button--outline(href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ftalentdesignu%2Fvideos%2F910960188957580", data-featherlight="iframe") Přehrát video

  +stats

  section.m-carousel.o-section--black
    .m-carousel__header.l-wrap
      h1.t-head--c Medailonky vítězů
    .m-carousel__list(data-carousel)
      each item in winners
        .m-carousel__item
          a.m-carousel__link(href=item.link, data-external)
            .m-carousel__thumbnail--video
              img.m-carousel__image(src="assets/images/" + item.thumbnail, alt=item.title)
            .m-carousel__content
              h2.m-carousel__title.t-head--d
                | Video: 
                = item.title
              strong.m-carousel__strong
                | Talent designu 
                = item.year

  +intro

  +prizes

  +short-history

  +apply-form

  +supporters

  +crossroad

  +foot
