extends templates/_site

block template-content
  header.o-hud
    a.o-logo(href="javascript:") Best in Design

    .o-hud__menu(data-menu)
      nav.o-nav
        button.o-nav__toggle
          span.o-nav__icon
          | Menu
        ul.o-nav__list
          each page in ["O soutěži", "Pravidla", "Historie", "Kontakt"]
            li.o-nav__item: a.o-nav__link(href="javascript:")= page
          li.o-nav__item--lang
            a.o-nav__link(href="javascript:") English

  section.m-hero(style="background-image: url(assets/images/bg_1.jpg)")
    .m-hero__content
      h1.t-head--a Best in Design 2017
      p.t-text--big Více než 10 000 € čeká na ty nejlepší designéry z celého světa. Soutěž je otevřena všem do 30 let.
      a.m-hero__button.o-button--outline(href="javascript:") Přihlásit práci

  main.m-article.o-section--white
    .l-wrap
      .l-table
        .m-article__cell.l-table__cell
            h2.t-head--b Jsme tvůj odrazový můstek do světa designu
            a.m-article__link.t-ulink(href="javascript:") Více o soutěži
        .l-table__cell
          ul.o-bullets
            li.o-bullets__item Víme, jak je těžké se v dnešní době prosadit.
            li.o-bullets__item Proto už 6. rokem dáváme šanci studentům designu ukázat svůj talent.
            li.o-bullets__item Přidej se k ostatním designérům a bojuj o obnos 4 000 €, ale především taky o velkou slávu a uznání na poli designu.
            li.o-bullets__item Soutěže se každoročně účastní studenti z univerzit po celém světě. Změř s nimi své síly a staň se talentem designu 2015!

  section.m-part.o-section--light
    .l-wrap
      h2.m-part__title.t-head--c Co je ve hře?
      .o-prizes
        .o-prizes__block
          .o-prizes__main
            span.o-prizes__fern--left: include ../svg/shape_fern_left.svg
            h3.o-prizes__caps.t-caps Hlavní cena
            strong.o-prizes__note 4 000 € + stáž k tomu
            span.o-prizes__fern--right: include ../svg/shape_fern_right.svg
        .o-prizes__block
          ol.o-prizes__list
            li.o-prizes__item 1000 €<br>+ stáž
            li.o-prizes__item 300 €
            li.o-prizes__item 200 €
      a.m-part__button.o-button--solid(href="javascript:") Všechny ceny

  section.m-part.o-section--white
    .l-wrap.l-wrap--no-bottom
      h2.m-part__title--fitted.t-head--c Jak můžeš vyhrát?
      strong.m-part__subtitle Drž se postupu, hlídej si čas a výhra bude tvoje

    .o-timer
      mark.o-timer__text.t-stretch(data-countdown) 24. 12. 2016

    .l-wrap.l-wrap--no-top
      ol.o-steps
        li.o-steps__item Přihlas práci, která vznikla během VŠ studia, nejdříve ale 1. 1. 2014
        li.o-steps__item Vyber si z 5 soutěžných kategorií
        li.o-steps__item Pošli svou práci do 31. 1. 2017
        li.o-steps__item Počkej do 24. 4. 2017 a převezmi hlavní cenu

      a.m-part__button.o-button--solid(href="javascript:") Úplná pravidla

  section.m-apply(style="background-image: url(assets/images/bg_2.jpg)")
    .l-wrap
      .m-apply__head
        h2.m-part__title--fitted.t-head--c Připraven stát se talentem designu?
        strong.m-part__subtitle: +dummy(10)

      .m-apply__content
        a.m-apply__button(href="javascript:")
          | Přihlásit práci 
          span.m-apply__arrow &rarr;

  section.o-brick
    .o-brick__image(style="background-image: url(https://source.unsplash.com/category/technology/1920x1920)")
    .o-brick__content
      .o-brick__top
        h2.t-head--c Jaký byl Talent designu 2014?
        .o-brick__text
          p Autor soutěžního návrhu, který obsadí 2. místo v jednotlivé soutěžní kategorii, získá finanční odměnu ve výši 300 €.
      .o-brick__bottom
        a.o-button--outline(href="javascript:") Historie talentu

  section.m-xroad(style="background-image: url(assets/images/bg_3.jpg)")
    a.m-xroad__link(href="javascript:")
      span.m-xroad__arrow--left &larr; 
      | Zlín Design Week
    a.m-xroad__link(href="javascript:")
      | Design konference
      span.m-xroad__arrow--right  &rarr;

  section.m-mail
    .l-wrap
      h1.m-mail__title.t-head--c Chceš zůstat v obraze?
      form.m-mail__form
        input.m-mail__input.o-input(type="email", placeholder="Tvůj email")
        input.m-mail__submit.o-submit(type="submit", value="Přihlásit se k odběru")

  section.m-supporters.o-section--white
    .l-wrap
      ul.o-affiliate--main
        li.o-affiliate__item--large
          h2.m-supporters__title.t-head--d Vyhlašovatel
          a.o-affiliate__link(href="javascript:")
            img.o-affiliate__image(src="assets/images/companies/logo_fond_ruzickovych.jpg", alt="Partner Logo")
        li.o-affiliate__item--large
          h2.m-supporters__title.t-head--d Spolupořadatel
          a.o-affiliate__link(href="javascript:")
            img.o-affiliate__image(src="assets/images/companies/logo_utb.png", alt="Partner Logo")

      h2.m-supporters__title.t-head--d Partneři
      ul.o-affiliate--sub
        each institution in ["mmcite.png", "zlin.jpg", "tescoma.jpg", "galaxie.jpg", "raiffeisen.jpg", "continental.jpg", "designportal.jpg", "archiweb.jpg", "czechdesign.jpg", "detepe.jpg", "design_cabinet.jpg", "koma.png", "sketcher.jpg", "refresher.jpg", "idnes.png", "meopta.png", "dailystyle.jpg", "designeros.png", "dynamo.png", "zlincz.png"]
          li.o-affiliate__item--small
            a.o-affiliate__link(href="javascript:")
              img.o-affiliate__image(src="assets/images/companies/logo_" + institution, alt="Partner Logo")

  footer.o-foot
    .l-wrap
      .o-foot__logo: include ../svg/logo_zdw.svg
      .o-foot__table
        .o-foot__cell
          h4.o-foot__head.t-smallcaps O projektu
          p ZLIN DESIGN WEEK je projekt realizovaný studenty Fakulty multimediálních komunikací Univerzity Tomáše Bati ve Zlíně.
          p 21–22. dubna 2016; Zlín, Česká republika

        .o-foot__cell
          h4.o-foot__head.t-smallcaps Odkazy
          ul.o-foot__list
            each link in ["Talent Designu", "Design Konference", "Design v Ulicích"]
              li.o-foot__li: a(href="javascript:")= link

        .o-foot__cell
          h4.o-foot__head.t-smallcaps Kontakt
          p Adéla Bačová<br>adela.bacova@zlindesignweek.com<br>tel: +420 737 617 259

  .o-peek(style="background-image: url(assets/images/bg_1.jpg)")
    h5.o-peek__title.t-head--a Uvidíme se<br>ve Zlíně!
