extends templates/_site

block template-content
  +hud

  section.m-hero--half(style="background-image: url(assets/images/bg_1.jpg)")
    .m-hero__content
      h1.t-head--a Přihláška

  main
    form.m-application.l-wrap
      h1.m-application__title.t-head--c Kontaktní údaje
      .m-application__section
        each item in ["Jméno", "Příjmení", "Adresa", "Město", "PSČ", "Země", "Telefon", "E-mail"]
          .m-application__row
            input.o-input--black(type="text", placeholder=item)

            if item == "Telefon"
              strong.m-application__note Telefonní číslo zadejte ve formátu +XXX 123 456 789.

      h1.m-application__title.t-head--c Detail školy
      mark.m-application__disclaimer Vyplňte pouze v případě, zda jste student.
      .m-application__section
        each item in ["Země", "Město", "Název školy", "Obor", "Vedoucí katedry"]
          .m-application__row
            input.o-input--black(type="text", placeholder=item)

      h1.m-application__title.t-head--c Detail práce
      .m-application__section
        .m-application__row
          input.o-input--black(type="text", placeholder="Úplný název práce")
        .m-application__row
          .o-dropdown
            select.o-dropdown__select
              option(disabled, selected) Kategorie
              option Kategorie 1
              option Kategorie 2
              option(disabled) A tak dále
        .m-application__row
          label.o-label
            span.o-label__text Datum vzniku
            input.o-input--black(type="date", min="2015-01-01")

      h1.m-application__title.t-head--c Přílohy
      .m-application__section
        .m-application__row
          strong.t-bold
            span.m-application__numbering 1 
            | Prezentační poster
          ul
            li Formát: PDF (CMYK)
            li Rozměr: 700 &times; 1000 mm (na výšku)
            li Kvalita: 300 dpi
          input.o-upload(type="file")

        .m-application__row
          strong.t-bold
            span.m-application__numbering 2 
            | Textová část
          p Stručný popis koncepce – stručný komentář – záměr autora – objasnění základních východisek při tvorbě soutěžního návrhu a způsob jeho využití v praxi. 
          ul
            li Formát: DOC, TXT
          input.o-upload(type="file")
        .m-application__row
          strong.t-bold
            span.m-application__numbering 3 
            | Reprezentativní fotografie
          ul
            li Formát: JPG
            li Rozměr: 1600 &times; 1200 px (na šířku)
            li Kvalita: 300 dpi
            li Počet: max. 3 ks
          input.o-upload(type="file")
          input.o-upload(type="file")
          input.o-upload(type="file")

        .m-application__row
          label.o-checkbox
            input.o-checkbox__input(type="checkbox")
            span.o-checkbox__text Odevzdáním soutěžních návrhů dávají soutěžící vyhlašovateli souhlas s bezplatným využitím soutěžních prací k výstavním a publikačním účelům, k zveřejnění soutěžní práce na internetu a ke zveřejnění kontaktu v souladu se zákonem č. 106/1999 Sb., o svobodném přístupu k informacím, v platném znění.

      .m-application__foot
        input.o-submit--black(type="submit", value="Odeslat přihlášku")
        a.m-application__cancel.o-button--outline(href="javascript:") Zrušit

  +supporters

  +foot
