extends _templates/_site

block template-content
  - var theme = "zdw"

  +hud(theme, false)

  section.m-hero--full(style="background-image: url(/assets/images/bg_zdw_1.jpg)")
    .m-hero__content
      h1.m-hero__title Zlin Design Week 2017
      p.m-hero__details
        strong.m-hero__date 21.&ndash;28. dubna 2017 
        span.m-hero__location Zlín, CZE

  section.m-intro-sticker
    a.o-sticker--solid(href="/assets/files/zdw-2017-shop-open-call.pdf")
      h1.o-sticker__title OPEN CALL DESIGN SHOP
      span.o-sticker__caps Pro náš obchod hledáme designéry

      mark.o-sticker__foot (.pdf)

  main.o-section--white
    .l-wrap
      .m-article
        .m-article__table
          .m-article__cell--flex
            h2.m-article__title Připravujeme pro Vás další ročník!
            a.m-article__link.o-anchor(href="https://medium.com/@zlindesignweek/", data-external)
              span.o-anchor__text Náš blog
              svg.o-anchor__icon(width="12px", viewBox="0 0 12 12", xmlns="http://www.w3.org/2000/svg")
                path(d="M0.5,0.5 L11.5,0.5 L11.5,11.5")
                path(d="M0.5,11.5 L11.5,0.5")

          .m-article__cell
            p Intenzivně pracujeme na třetím ročníku Zlin Design Weeku. Do kalendářů si zaznačte poslední dubnový týden, tedy 21.&ndash;28.&nbsp;4. 2017. To se totiž ulice Zlína opět zaplní designem, přinese několiv výstav, další ročník Konference design &amp; marketing, desítky přednášek a&nbsp;workshopů, ale i&nbsp;designérskou soutěž Best in Design.

  -
    var brick = {
      "modifier": "black",
      "image": "/assets/images/history_zdw.jpg",
      "title": "Jaký byl minulý ročník?",
      "content": {
        "large": [
          "Pokud se chcete naladit už teď, pusťte si sestřih z&nbsp;minulého ročníku."
        ]
      },
      "button": {
        "title": "Přehrát video",
        "video": true,
        "href": "https://www.youtube.com/embed/xlQKuP_RgI4"
      }
    }

  +brick(brick)

  +crossroad(theme)

  +mail

  +supporters("temp")

  +foot(theme)

  +peek("bg_zdw_3.jpg", theme)
