extends templates/_site

block template-content
  header.o-hud#js-headroom
    .o-hud__head
      a.o-logo--zdw(href="index.html"): include ../svg/logo_zdw.svg

    .o-switcher
      button.o-switcher__toggle(data-switcher)
        | Všechny projekty
        svg.o-switcher__icon(viewBox="0 0 16 10", xmlns="http://www.w3.org/2000/svg")
          path(d="M2,2 L8,8 L14,2")
      strong.o-switcher__title Další projekty
      .o-switcher__content
        mark.o-switcher__link--active Zlin Design Week
        a.o-switcher__link(href="http://www.bestindesign.cz") Best in Design
        a.o-switcher__link(href="http://www.zlindesignweek.com/konference/") Konference Design &amp; Marketing

  span.o-switcher-close(data-switcher)

  section.m-hero--full(style="background-image: url(assets/images/bg_1.jpg)")
    .m-hero__content
      h1.m-hero__title.t-head--a Zlin Design Week 2017
      p.m-hero__details
        strong.m-hero__date 24.&ndash;30. dubna 2017 
        span.m-hero__location Zlín, CZE

  section.m-intro-sticker
    a.o-sticker--round(href="assets/files/zdw-2017-open-call.pdf")
      h1.o-sticker__title Student Design Wanted!
      span.o-sticker__caps Pro výstavy hledáme designéry

      mark.o-sticker__foot (.pdf)

  main.m-article.o-section--white
    .l-wrap
      .l-table
        .l-table__cell
            h2.t-head--b Připravujeme pro Vás další ročník!
            a.m-article__link.o-anchor(href="https://medium.com/@zlindesignweek/", data-external)
              span.o-anchor__text Náš blog
              svg.o-anchor__icon(width="12px", viewBox="0 0 12 12", xmlns="http://www.w3.org/2000/svg")
                path(d="M0.5,0.5 L11.5,0.5 L11.5,11.5")
                path(d="M0.5,11.5 L11.5,0.5")

        .l-table__cell
          p Intenzivně pracujeme na třetím ročníku Zlin Design Weeku. Do kalendářů si zaznačte poslední dubnový týden, tedy 24.&ndash;30.&nbsp;4. 2017. To se totiž ulice Zlína opět zaplní designem, přinese několiv výstav, další ročník Konference Design &amp; Marketing, desítky přednášek a&nbsp;workshopů, ale i&nbsp;designérskou soutěž Best in Design.

  section.o-brick--black
    .o-brick__image(style="background-image: url('assets/images/history_zdw.jpg')")

    .o-brick__content
      .o-brick__top
        h2.t-head--c Jaký byl minulý ročník?
        .o-brick__text
          p.t-text--big Pokud se chcete naladit už teď, pusťte si sestřih z&nbsp;minulého ročníku.
      .o-brick__bottom
        a.o-button--outline(href="https://www.youtube.com/embed/xlQKuP_RgI4", data-featherlight="iframe") Přehrát video

  section.m-xroad(style="background-image: url(assets/images/bg_3.jpg)")
    a.m-xroad__link(href="http://www.bestindesign.cz")
      span.m-xroad__arrow--left &larr; 
      | Best in Design
    a.m-xroad__link(href="http://www.zlindesignweek.com/konference/")
      | Konference D&nbsp;&amp;&nbsp;M
      span.m-xroad__arrow--right  &rarr;

  +mail

  section.m-supporters.o-section--white
    .l-wrap
      ul.o-affiliate--main
        li.o-affiliate__item--large
          h2.m-supporters__title.t-head--d Spolupořadatel
          a.o-affiliate__link(href="http://www.utb.cz/fmk")
            img.o-affiliate__image(src="assets/images/companies/logo_utb.png", alt="Partner Logo")

  footer.o-foot
    .l-wrap
      .o-foot__logo: include ../svg/logo_zdw.svg
      .o-foot__table
        .o-foot__cell
          h4.o-foot__head.t-smallcaps O projektu
          p ZLIN DESIGN WEEK je projekt realizovaný studenty Fakulty multimediálních komunikací Univerzity Tomáše Bati ve Zlíně.
          p 24–30. dubna 2017; Zlín, Česká republika

        .o-foot__cell
          h4.o-foot__head.t-smallcaps Odkazy
          ul.o-foot__list--nobreak
            each link, title in {"Best in Design": "http://www.bestindesign.cz", "Konference D&thinsp;&amp;&thinsp;M": "http://www.zlindesignweek.com/konference/", "Design v Ulicích": "http://www.zlindesignweek.com/week/"}
              li.o-foot__li: a(href=link)!= title

        .o-foot__cell
          h4.o-foot__head.t-smallcaps Kontakt
          ul.o-foot__list
            li.o-foot__li Nikola Timkovičová
            li.o-foot__li: a(href="mailto:nikola.timkovicova@zlindesignweek.com") nikola.timkovicova@zlindesignweek.com
            li.o-foot__li +420 776 343 310
          ul.o-foot__list
            li.o-foot__li Tereza Konečná
            li.o-foot__li: a(href="mailto:tereza.konecna@zlindesignweek.com") tereza.konecna@zlindesignweek.com
            li.o-foot__li +420 728 876 653

  .o-peek(style="background-image: url(assets/images/bg_1.jpg)")
    .o-peek__content
      p.o-peek__text Uvidíme se ve Zlíně! Mezitím nás můžete sledovat na #[a.o-peek__link--fb(href="https://www.facebook.com/zlindesignweek/", data-external) Facebooku].
    ul.o-peek__credits
      li.o-peek__item
        strong.o-peek__term Design 
        | Jan Břeský
      li.o-peek__item
        strong.o-peek__term Front-end 
        | Christian Jánský
      li.o-peek__item
        strong.o-peek__term Back-end 
        | Michal Černý
