extends _templates/_site

block template-content
  - var theme = "conf"

  +hud(theme, false)

  section.m-hero--full(style="background-image: url(/assets/images/bg_conf_1.jpg)")
    .m-hero__content
      h1.m-hero__title Konference design &amp; marketing
      p.m-hero__details
        strong.m-hero__date 25. dubna 2017 
        span.m-hero__location Zlín, CZE

  section.m-intro-sticker
    a.o-sticker--solid(href="assets/files/zdw-2017-open-call.pdf")
      h1.o-sticker__title Student Design Wanted!
      span.o-sticker__caps Pro výstavy hledáme designéry

      mark.o-sticker__foot (.pdf)

  main.m-article.o-section--white
    .l-wrap
      .l-table
        .l-table__cell
            h2.t-head--c Připravujeme pro Vás další ročník!
            a.m-article__link.o-anchor(href="https://medium.com/@zlindesignweek/", data-external)
              span.o-anchor__text Náš blog
              svg.o-anchor__icon(width="12px", viewBox="0 0 12 12", xmlns="http://www.w3.org/2000/svg")
                path(d="M0.5,0.5 L11.5,0.5 L11.5,11.5")
                path(d="M0.5,11.5 L11.5,0.5")

        .l-table__cell
          p Propojení těchto dvou světů, spousta inspirace, řečníci ze světa designu i&nbsp;marketingu z&nbsp;Česka i&nbsp;zahraničí, kteří mají opravdu co říct a&nbsp;skvělá přiležitost rozšířit si obzory, navázat kontakty nebo poznat nové lidi&hellip; To všechno ve středu 26.&nbsp;dubna 2017 na Konferenci design &amp; marketing ve Zlíně!

  -
    var brick = {
      "modifier": "black",
      "image": "/assets/images/history_conf.jpg",
      "title": "Jaký byl minulý ročník?",
      "content": {
        "large": [
          "Pokud se chcete naladit už teď, pusťte si sestřih z&nbsp;minulého ročníku."
        ]
      },
      "button": {
        "title": "Přehrát video",
        "video": true,
        "href": "https://www.youtube.com/embed/xlQKuP_RgI4"
      }
    }

  +brick(brick)

  +crossroad(theme)

  +mail

  +supporters("temp")

  +foot(theme)

  +peek("bg_conf_3.jpg", theme)
