extends _templates/_site

block template-content
  header.o-hud#js-headroom
    .o-hud__head
      a.o-logo--zdw(href="index.html"): include ../svg/logo_zdw.svg

    .o-switcher
      button.o-switcher__toggle(data-switcher)
        | Všechny projekty
        svg.o-switcher__icon(viewBox="0 0 16 10", xmlns="http://www.w3.org/2000/svg")
          path(d="M2,2 L8,8 L14,2")
      strong.o-switcher__title Další projekty
      .o-switcher__content
        mark.o-switcher__link--active Zlin Design Week
        a.o-switcher__link(href="http://www.bestindesign.cz") Best in Design
        a.o-switcher__link(href="http://www.zlindesignweek.com/konference/") Konference design &amp; marketing

  span.o-switcher-close(data-switcher)

  section.m-hero--full(style="background-image: url(/assets/images/bg_zdw_1.jpg)")
    .m-hero__content
      h1.m-hero__title Zlin Design Week 2017
      p.m-hero__details
        strong.m-hero__date 24.&ndash;30. dubna 2017 
        span.m-hero__location Zlín, CZE

  section.m-intro-sticker
    a.o-sticker--solid(href="assets/files/zdw-2017-open-call.pdf")
      h1.o-sticker__title Student Design Wanted!
      span.o-sticker__caps Pro výstavy hledáme designéry

      mark.o-sticker__foot (.pdf)

  main.m-article.o-section--white
    .l-wrap
      .l-table
        .l-table__cell
            h2.t-head--c Připravujeme pro Vás další ročník!
            a.m-article__link.o-anchor(href="https://medium.com/@zlindesignweek/", data-external)
              span.o-anchor__text Náš blog
              svg.o-anchor__icon(width="12px", viewBox="0 0 12 12", xmlns="http://www.w3.org/2000/svg")
                path(d="M0.5,0.5 L11.5,0.5 L11.5,11.5")
                path(d="M0.5,11.5 L11.5,0.5")

        .l-table__cell
          p Intenzivně pracujeme na třetím ročníku Zlin Design Weeku. Do kalendářů si zaznačte poslední dubnový týden, tedy 24.&ndash;30.&nbsp;4. 2017. To se totiž ulice Zlína opět zaplní designem, přinese několiv výstav, další ročník Konference design &amp; marketing, desítky přednášek a&nbsp;workshopů, ale i&nbsp;designérskou soutěž Best in Design.

  -
    var brick = {
      "modifier": "black",
      "image": "/assets/images/history_zdw.jpg",
      "title": "Jaký byl minulý ročník?",
      "content": {
        "large": [
          "Pokud se chcete naladit už teď, pusťte si sestřih z&nbsp;minulého ročníku."
        ]
      },
      "button": {
        "title": "Přehrát video",
        "video": true,
        "href": "https://www.youtube.com/embed/xlQKuP_RgI4"
      }
    }

  +brick(brick)

  section.m-xroad(style="background-image: url(/assets/images/bg_zdw_2.jpg)")
    a.m-xroad__link(href="http://www.bestindesign.cz")
      span.m-xroad__arrow--left &larr; 
      | Best in Design
    a.m-xroad__link(href="http://www.zlindesignweek.com/konference/")
      | Konference D&nbsp;&amp;&nbsp;M
      span.m-xroad__arrow--right  &rarr;

  +mail

  +supporters("temp")

  +foot("zdw")

  +peek("bg_zdw_3.jpg", "zdw")
